[2015-12-18 11:53] mattfarina commented on #173
Can you help me understand your use case a little more.

How would you handle two projects with a shared dependency needing different versions of it? Where you switch between working on the two on a regular basis.

The first time you run `glide update` it will install the dependencies into the `vendor/` folder. On large codebases the first pass can take a couple minutes. I'm already working to spe

[2015-12-18 11:55] mattfarina commented on #171
Input validation could work. This is the kind of case that could even be automatically fixed. I'll get to this eventually unless you (or someone else) wants to do a pull request before that.

[2015-12-18 14:12] favadi opened #174 "glide get failed with error panic: interface conversion: interface {} is nil, not *cfg.Config"
I'm trying to `glide get` new library to a vendored repository and glide fails with error.

[code]

I can reproduce it every time with travis script: https://github.com/favadi/glide-get-error/blob/0f450a5fe22bea01fe12ad63c9fd2479efacf970/.travis.yml

The travis build log: https://s3.amazonaws.com/archive.travis-ci.org/jobs/97672152/log.txt

[2015-12-18 14:23] favadi commented on #174
So `--update-vendored` is causing the problem here.

In [build 7](https://travis-ci.org/favadi/glide-get-error/builds/97673944), I stop deleting .git directory in '/vendor' but keep go get with `--update-vendored` and it still failed with same error.

In [build 8](https://travis-ci.org/favadi/glide-get-error/builds/97674291), I remove `--update-vendored` and it passed.

[2015-12-18 14:34] mattfarina commented on #174
@favadi thanks for all the detail. This is a great bug report. Before I even try to repeat the problem I can trace it right to the code block where the issue is stems from.

[2015-12-18 15:45] sdboyer commented on #171
seems like this should be easyish to take care of - i'll see if i can do so at some point.

would your preference be for rejection, or normalization?

[2015-12-18 15:49] mattfarina commented on #171
Ideally, I'd like both. For a URL I'd like it to normalize and even handle the https v. http case. For something that's completely invalid I'd like it to error and exit.

[2015-12-18 17:20] sdboyer commented on #171
OK, should be easy enough. I can think of one more normalization that's maybe worth doing - the common git syntax of `github.com:foo/bar`, which works for ssh, is not actually the valid name. Can you think of a case where swapping that colon out for a slash would be wrong? We could easily detect if there are numbers after it - for an HTTP port - and avoid that case...though I'm not actually sure t

[2015-12-18 18:41] dmitris commented on #173
I've seen a project (internal one) where "glide up" takes 30-40 minutes and the resulting vendor folder is a few hundreds of MBs! :smile:

But even for smaller projects I would prefer to live without the "vendor" folder with all the dependencies "globbed" into the local folder.  I don't regularly have to switch between the projects with very disparate sets of dependencies - quite the opposite.  My

[2015-12-18 19:17] technosophos commented on #167
Just to make sure... the place where the `go build` command is being run is inside of `$GOPATH`, right?

[2015-12-18 22:06] payneio opened #175 "win glide 0.8.1 doesn't build github.com/aws/aws-sdk-go"
win glide 0.7.2 works

0.8.1 gets stuck on checking dependencies

[2015-12-18 23:18] dnephin opened #176 "Feature Request: `glide prune` - remove unused files from vendor/"
I've been using glide for personal projects, but when I've tried to suggest it to a couple of other developers for larger projects, both times I've received the same complaint. `glide` leaves all the files from the dependency repo in place.

I understand this makes sense for the workflow `glide` suggests (which is to put `vendor/` in `.gitignore`, not check it in), but not everyone is sold on this

[2015-12-18 23:26] LK4D4 commented on #176
Also, up could be much faster if glide wouldn't download all subdepndencies.
For example, I use `github.com/docker/docker/pkg/pubsub`, glide downloads the whole docker, and it's dependencies(like libnetwork, grpc).
Import graph definitely should be used.

[2015-12-19 01:10] mattfarina commented on #175
@payneio thanks for the info. Can you tell me what version of Windows you're on, what your setup looks like (is the parent project in the `GOPATH`, etc), how you got Glide (was it a binary download or `go get`) and what architecture (386/amd64)? Does it work for projects that aren't the aws-sdk-go?

I'll try to reproduce the problem.

[2015-12-19 01:35] mattfarina commented on #176
These two things have already come up.

The prune functionality in #143. Pruning was part of the plan from the beginning of locking and `glide up` has a `--delete` flag today. There has been discussion, and I'm sorry I don't remember the issue, as to the the level of pruning. How aggressive should it be and why?

In #166 we've been discussing having a smarter way to scan the codebase and pull down

[2015-12-19 01:44] flawedmatrix commented on #175
I have the same problem on OS X (10.10.4).

[code]

[2015-12-19 02:43] technosophos commented on #176
It seems impossible to please everyone on this, and I don't think we will be able to. But we're working our way toward what we think will be the happy medium.

### Follow the Leaders

Rather than make arbitrary decisions, we're trying to learn as much as we can from other package managers. I have yet to see one that computationally removes files from dependencies. So I'm not strongly inclined to d

[2015-12-19 02:45] technosophos commented on #175
Is it looping?

[2015-12-19 03:20] LK4D4 commented on #176
@technosophos godep is an example of package manager that does that. However, I agree that you shouldn't try to satisfy everyone with Glide.

[2015-12-19 10:09] jurgen-kluft opened #177 "Make Glide configurable to be of more general use"
What about:

1. Removing the dependency on a system wide environment variable 'GOPATH' ?
    Instead go up the hierachy until a 'glide.root' file is encountered and treat that as 'GOPATH'.
    If GOPATH is set, writing a 'glide.root' file should make Glide work with the above change.

It already seems that Glide doesn't depend on a formal Golang installation, just adding GOPATH seems to be suffici

[2015-12-19 13:09] mattfarina commented on #177
Thanks for the input and idea.

Most languages have their own package manager. For example Cargo for Rust, Composer for PHP, npm for JavaScript, Maven for Java, and so on. In this case we'd targeted Glide at Go and we leverage Go specific features such as scanning the codebase to find imports. That way we can get the whole tree and lock it to a version.

I'm amazed that you've been able to use Gli

[2015-12-19 13:15] mattfarina commented on #175
@flawedmatrix how did you install Glide? Binary download? Homebrew?

On 10.11.1 using Glide 0.8.1 I can't reproduce the problem. I've not had an opportunity to test on windows, yet. Any details to help reproduce this outside windows would be helpful. I still need to test it there.

[2015-12-19 14:08] jurgen-kluft commented on #177
Hello Matt and thanks for the explanation.

I am aware that other languages have very good package managers, C++ however not so much. Therefor i was quite jealous of Go and Rust to so easily be able to import packages directly from BitBucket, Github or other places.
I have integrated and tested both Glide (Go) and Cargo (Rust) to provide the service to pull in the dependency packages which saves m

[2015-12-19 14:08] #177 closed

[2015-12-19 16:50] flawedmatrix commented on #175
@technosophos Yes, it was looping for what seems to be forever.
@mattfarina I installed Glide via homebrew and it seems to install Glide 0.8.1 correctly.

[2015-12-19 19:04] markwaddle commented on #175
i have the problem in Windows 10 Pro (10.0.10586). Binary download; amd64. It hangs on the final line and appears to be in a loop because it consumes a CPU core.

[code]

[2015-12-19 23:21] mattfarina commented on #175
@markwaddle thanks for the details. With this I know two things.

First, all projects that use the `go` tool need to be in a properly setup `GOPATH`. Your example doesn't fit the `GOPATH` layout required by Go. What you need is a layout like:

[code]

Your application source needs to live within the `src/` directory. Go isn't really designed for a per project `GOPATH`. Personally, this was one of

[2015-12-20 10:07] rxwen commented on #175
I met a similar issue too. I'm using go v1.5.2, glide hash f8f06478 (I installed it with go get), windows 7.
You may try to run glide install for this repo: https://github.com/rxwen/livelyweb-firmware.
On my windows box, the glide install command hung in  "[INFO] Scanning github.com/gorilla/mux for dependencies.". And from task manager, it showed glide was consuming cpu. After check with procmon,

[2015-12-21 00:56] jeffellin opened #178 "Details on How Cache Works"
Wondering how cache works.  The docs mention

    Repository caching including reuse of packages in the $GOPATH

Does this mean that if the library exists in GOPATH it will not be downloaded again?   If yes how does the cache match to the version found in the lockfile?

[2015-12-21 14:10] mattfarina commented on #178
I can add a little detail.

When you run commands like `glide up` use the `--use-gopath` flag. For example,

[code]

This will tell Glide to check for a package in the `GOPATH`. If it's there, has the same `repo` as the one we're asking for, and isn't dirty (uncommitted changes) then copy it to the `vendor/ folder`. Once in the `vendor/` folder the package will be updated and the version will be s

[2015-12-21 14:27] jeffellin commented on #178
This is very helpful.  Do you know what happens when you specify a version in the glide.yaml?  Will the version be checked when using the --use-gopath flag?

[2015-12-21 14:28] mattfarina opened #180 "Hash in glide.lock not being properly set"
It seems all hashes are the same. There is an error calculating the hash.

[2015-12-21 14:30] #169 closed

[2015-12-21 14:30] #180 closed

[2015-12-21 14:41] #174 closed

[2015-12-21 14:58] mattfarina commented on #178
When a version is set in the `glide.yaml` file that version will be set. It's not checked when the copying happens. Instead, it makes sure it's the same vcs repo. If so, it does an update after copying. Then it explicitly sets the version (or in the case of a SemVer range it finds and then sets the version).

It explicitly sets versions rather than assuming something is at the right version.

[2015-12-21 15:10] jeffellin commented on #178
Then it explicitly sets the version

Are you referring to what is set int he lock file?

[2015-12-21 15:18] #175 closed

[2015-12-21 15:22] mattfarina commented on #175
I think I found the issue. When the `GOPATH` isn't setup properly this can happen. `glide update` and other commands have `CowardMode` to catch this. It was missed on `glide get`. Added `CowardMode` here to catch this situation.

In the examples with enough detail here the `GOPATH` was the project root directory. Go, unfortunately, does not work that way. See [code organization](https://golang.org

[2015-12-21 15:59] mattfarina commented on #178
When `glide update` or `glide get` are run it explicitly sets the version based on what's in the `glide.yaml` file. When `glide install` is run it explicitly sets the version based on what's in the `glide.lock` file.

If you run `glide up --use-gopath` with no version set in the `glide.yaml` file you could get some unexpected results because the version will relate to the GOPATH. I would always sp

[2015-12-21 16:31] technosophos opened #181 "Refactor and remove Cookoo"
The following still need to be update.
- [x] Get
- [x] Install
- [x] Update
- [x] Import GPM
- [x] Import Godep
- [x] Import GB
- [x] Create
- [x] Remove

[2015-12-21 16:43] jeffellin commented on #178
Thanks a lot for the information, it has been very helpful.  Is this in the docs somewhere and I missed it?

[2015-12-21 17:03] dmitris opened #182 "glide handling of packages with the same prefix"
I wonder if glide has any special logic to consider imports like "package-with-dashes-one" and "package-with-dashes-two" to be really subpackages of "package-with-dashes" for any reason?

I have a test project sometld.com/dmitris/go-simple-canary-cmd
that depends on sometld.com/dmitris/go-simple-canary-lib and through that library transitively on
sometld.com/dmitris/go-simple-canary-lib-two and so

[2015-12-21 17:59] mattfarina commented on #182
Glide has special logic to find the top of VCS repos. Are all of these in the same VCS repo?

One place this happens inside [GetRootFromPackage](https://github.com/Masterminds/glide/blob/8b683f9ec07fb4463a252ead1ee91b693f1c4cb9/util/util.go#L30). In here it tries a variety of methods to figure out the root repo.

The sub-packages are the suffix to the root package. You can see some of this logic a

[2015-12-21 20:10] dmitris commented on #182
Yes, they are all the same VCS (git).

The layout is:
go-simple-canary-cmd
go-simple-canary-lib
go-simple-canary-lib-two
go-simple-canary-lib-three

each one is part of the package name like "go.corp.company.com/dmitris/go-simple-canary-cmd" (the domain is not the real one).  The dependency chain is: cmd -> lib -> lib-two -> lib-three (toy projects to test dependency resolution by the CI system).

[2015-12-21 20:13] dmitris commented on #182
maybe I did not make it clear - go-simple-canary-cmd, go-simple-canary-lib etc. are all in their separate Git repos with distinct remote.origin.url:
[code]
etc.

[2015-12-21 20:41] mattfarina commented on #182
@dmitris thanks for all the detail. I think we are getting somewhere. This is really helping to make progress. I think the issue is in the logic around the go-get redirects.

If a package like `go.corp.company.com/dmitris/go-simple-canary-cmd` is queried does it return one or more go-import meta tags? You can test this with curl via:

Am I right to think there are more than one go-import statement

[2015-12-21 21:29] mattfarina commented on #182
Upon reviewing more source, I'm not sure the issue is with multiple go-import statements. But, depending on the response the problem could be there. I'd be really curios to know the response from the curl command in the previous comment.

[2015-12-21 21:50] dmitris commented on #182
@mattfarina - I don't think there are multiple go-import statements
[code]

[2015-12-22 14:12] mattfarina commented on #182
If you fix the problem manually in your `glide.yaml` file and run `glide up` does it work as expected?

I ask because I'm trying to identify if the issue is in `glide init` or `glide up`. The initialization code scans directories and packages while the update code does de-duping.

[2015-12-22 16:39] dmitris commented on #182
I tried to put all the packages as output by "go list" in glide.yaml but when running ```glide up``` it was putting "two" and "three" as subpackages and did not pay attention to the real packages listed in glide.yaml

[2015-12-22 17:17] dmitris commented on #182
I tried one more time - I put the following in my glide.yaml file:
[code]
and when I ran ```glide --debug up```, I got the following output:
[code]

The resulting glide.lock file then was the following:
[code]

I ran ```go get -u -v github.com/Masterminds/glide``` right before that so i'm using the latest and greatest dev version of glide.

[2015-12-22 17:25] dmitris commented on #182
I also tried ```glide --debug get go.corp.company.com/dmitris/go-simple-canary-lib-two```, here's the output:

[code]

The glide.lock file has not changed after the ```glide get``` command.

[2015-12-22 17:57] mattfarina commented on #182
@dmitris that tells me a big more about where the problem is. Thanks.

When Glide reads a `glide.yaml` file it processes it first. That happens before the configuration gets to the logic from `glide get`. The messages you see tell me something is likely happening when the `glide.yaml` file is being loaded.

I created a branch `bug/issue-182` with some extra debug calls. Can you please fetch glide,

[2015-12-22 19:14] dmitris commented on #182
Here's what I get with the issue-182 branch:
[code]

[2015-12-22 19:42] mattfarina commented on #182
@dmitris can you try it with the manually edited file you shared including

[code]

[2015-12-22 19:59] technosophos commented on #182
I tested `cmd.NormalizeName` with the above examples, and I can't reproduce there. Looking for other normalization functions. I think there was another place where we were normalizing package names.

[2015-12-22 20:06] akutz commented on #121
Hi All,

My manager and cohort on REX-Ray, among other things, @clintonskitson noted that this appears to have regressed in 0.8.0, and was working in 0.7.2 (https://github.com/emccode/rexray/issues/221#issuecomment-166715284).

[2015-12-22 20:55] akutz commented on #121
Hi @mattfarina,

It's apparently an ordering issue with transitive dependencies. Please see this PR https://github.com/emccode/rexray/pull/237

[2015-12-22 20:57] mattfarina commented on #121
@akutz thanks. I was just running `glide up` to see if I could reproduce the issues. I'll look over there.

[2015-12-22 20:58] akutz commented on #121
Hi @mattfarina,

Yup, no worries. Please feel free to re-order the `goof` dependency where it was prior to the change in the PR, run `make deps`, and then you should see the issue crop up.

[2015-12-22 22:04] dmitris commented on #182
I think the problem is in the checkRemotePackageCache function and the fact that it uses the prefix check to check for hits while returning only the prefix portion of the package:
https://github.com/Masterminds/glide/blob/master/util/util.go#L101

[code]
The cache contains the package like go.corp.company.com/dmitris/go-simple-canary-lib which happens to be a prefix of go.corp.company.com/dmitris/

[2015-12-22 22:13] dmitris commented on #182
sent a one-line fix in https://github.com/Masterminds/glide/pull/183

[2015-12-22 22:32] dmitris commented on #178
I believe it's the other way around: glide up[date] --use-gopath

From `glide help update':
[code]

[2015-12-23 03:11] colemickens opened #184 "Prompted for auth on a public repo:"
[code]

this was when I tried to vendor Kubernetes.

[2015-12-23 03:12] colemickens commented on #184
And again:

[code]

[2015-12-23 03:21] colemickens commented on #184
I've been trying for the last half hour to vendor `k8s.io/kubernetes/pkg/client/unversioned/clientcmd/api` and I keep getting the above errors or it just seems to hang, without the cpu doing anything...

[2015-12-23 08:41] wav commented on #39
I think this would make sense as some sorta plugin that "re-writes" the package information that glide uses for sourcing. The plugin would be executed before glide does a fetch.

The plugin can then simply be a script that takes the package information and does a lookup.

[2015-12-23 12:05] thinkong commented on #170
Has there been any update on this?
I am getting a hard time updating.
I only have 9 vendored in my glide.yaml file and it is taking too long when doing an glide update/install

[2015-12-23 13:06] mattfarina commented on #184
@colemickens I can help with k8s. It's something I've worked with in a similar way. K8s being such a large monorepo with so many dependencies is a great way to test Glide. It's even lead to ideas on how to speed up Glide (some of which are still coming).

Within k8s there are a couple packages, in the full tree, that have moved. The GitHub case causes auth to be triggered on GitHub in case the rep

[2015-12-23 13:10] mattfarina commented on #170
@thinkong what version of Glide do you have? You can run `glide --version` to get it. The point version matters which is why I ask. Also, what's your output when using the `--debug` flag (for example `glide --debug up`)?

In the next version of Glide, currently being worked on in branches, there will be some speed improvements.

[2015-12-23 13:11] mattfarina commented on #178
@dmitris you're right. Thanks for the correction.

[2015-12-23 13:13] mattfarina commented on #39
@wav I like the idea of this being pluggable. That way alternative approaches could be used.

[2015-12-23 13:15] Barberrrry opened #185 "Permanent install error "Lock file does not match YAML configuration""
I'm using glide 0.8.2 installed by homebrew on Mac OS.
I have the problem: _glide install_ always returns __Oops! Lock file does not match YAML configuration. Consider running 'update'__ even immediately after _glide up_.

[2015-12-23 13:32] mattfarina commented on #182
@dmitris Thanks for the pull request. My hope with caching was also to catch cases like `golang.org/x/net/context` being part of `golang.org/x/net` but there are cases this is a bad idea. Sorry about that bug.

I just pushed up b07f081 which builds on your fix to avoid some more http requests.

Please let me know how this goes.

[2015-12-23 13:46] mattfarina commented on #185
When `glide up` creates a `glide.lock` file it generates a hash of the `glide.yaml` configuration and puts it in the `glide.lock` file. Running `glide install` generates a new has of the `glide.yaml` configuration and then checks it agains the value in the `glide.lock` file.

Is the content of your `glide.yaml` file changing anywhere?

If you run the following so you see the error:
[code]

Can you

[2015-12-23 14:01] Barberrrry commented on #185
I don't make changes in glide.yaml between `glide up` and `glide install`. `glide up` successfully makes `glide.lock` and puts hash in it, as you said. If I make one more `glide up`, only `updated` field is changed, `hash` is still the same. Anyway, `glide install` continues to return error.

Unfortunately, I can't share glide.yaml with you, because there is a lot of private repos in it.

I will t

[2015-12-23 14:11] Barberrrry commented on #185
The same result is with Glide 0.8.2 builded from the source.

[2015-12-23 15:17] mattfarina commented on #185
I created the branch `issue/185` with some addition debug code. If you run `glide up` and `glide install` now it will print out more information. Does something in there help you see the problem?

[2015-12-23 15:35] Barberrrry commented on #185
I've tried out and hashes are different:
[code]

[2015-12-23 15:46] mattfarina commented on #185
I just pushed another update with another line of debug code. This is important because it's the hash at write time which is a different point than the hash is generated for the lock.

I added `fmt.Println` calls to print out the `glide.yaml` representation of the `Config` instances when they are written on update and when the hashes are being compared on install. Do you see a difference in the ya

[2015-12-23 16:11] Barberrrry commented on #185
Cool! I think, the problem is revealed.
The difference between two states of yaml is in version ranges of some packages. I have this in `glide.yaml`:
[code]
but Glide transform it to this while resolving version with other packages which use these 2 packages:
[code]
So `glide install` takes hash from first original version, whilst `glide up` calculates hash from the second version and puts it to `

[2015-12-23 16:38] mattfarina commented on #185
Thanks for the detail! I know what's going on now and can fix this.

[2015-12-23 16:47] technosophos opened #186 "`glide up TARGET` creates wrong lock file"
If I specify a target on `glide up`, the lockfile that is generated is only partial.

Steps to reproduce:

1. Clone github.com/helm/helm
2. wc -l glide.lock
3. glide up github.com/Masterminds/sprig
4. wc -l glide.lock

Glide >0.8.2

[2015-12-23 17:11] mattfarina commented on #185
@Barberrrry I created the branch `issue/185-fix` (in pull request #187). Can you test this and see if it fixes your problem?

[2015-12-23 17:36] Barberrrry commented on #185
Thank you for fix! I will check it as soon as possible and let you know
about results.

среда, 23 декабря 2015 г. пользователь Matt Farina написал:

--
С уважением,
Петров Вадим
vadim.petrov@gmail.com

[2015-12-23 17:45] atinmu opened #188 "glide update/get/install not working"
When I am running the above it always fail with "Oops! No home directory set to create". What's the issue here?

[2015-12-23 18:04] mattfarina commented on #188
@atinmu what version of Glide are you using? `glide --version` will tell you. What environment are you running in?

[2015-12-23 18:06] atinmu commented on #188
@mattfarina : its the dev version
Also when I try to to pull the latest using `go get -u` I get the following error:

amukherj@atinmu:~/codebase/PoCs/go_workdir/pkg/linux_amd64/github.com$ go get -u github.com/Masterminds/glide
go install github.com/Masterminds/glide/gb: open /home/amukherj/codebase/PoCs/go_workdir/pkg/linux_amd64/github.com/Masterminds/glide/gb.a: permission denied
go install git

[2015-12-23 18:10] mattfarina commented on #186
The [packages being updated](https://github.com/Masterminds/glide/blob/b07f081dfd5cf1714bd60f6fba91f900003c38be/glide.go#L616) are passed into [Flatten](https://github.com/Masterminds/glide/blob/b07f081dfd5cf1714bd60f6fba91f900003c38be/cmd/flatten.go#L40) for `up`. My first thought is the problem is there.

[2015-12-23 18:14] atinmu commented on #188
@mattfarina I am on Fedora23

[2015-12-23 18:15] mattfarina commented on #188
I can't explain the permission issue. That's something on your system.

There was a point when this error happened in the code and we fixed it. Can you get the commit id for the version you're running? Go fetches the repo so you should be able to go to the directory and get it. Want to see if this is the old bug or a new one.

Glide attempts to use the home directory (in the ~/.glide directory).

[2015-12-23 18:20] atinmu commented on #188
@mattfarina : The problem went away when I deleted ..../pkg/bin/..../Masterminds/glide
Thanks for your help

[2015-12-23 18:20] #188 closed

[2015-12-24 03:20] thinkong commented on #170
@mattfarina
[code]
λ glide --debug up
[INFO] Fetching updates for myproj.
myproj@192.168.0.10's password:
myproj@192.168.0.10's password:
[INFO] Fetching updates for github.com/tealeg/xlsx.
[INFO] Fetching updates for github.com/satori/go.uuid.
[INFO] Fetching updates for github.com/mattn/anko.
[INFO] Fetching updates for github.com/daviddengcn/go-colortext.
[INFO] Fetching updates for github.com/

[2015-12-24 03:38] favadi opened #189 "glide get --update-vendored warning"
`--update-vendored` problem in #174 is fixed in glide 0.8.2 but there is new problem.

Now whenever I use `glide get --update-vendored` I got error:

[code]

and

[code]

The command still exits with 0 returns code.

The test script: https://github.com/favadi/glide-get-error/blob/0f450a5fe22bea01fe12ad63c9fd2479efacf970/.travis.yml

The build log: https://travis-ci.org/favadi/glide-get-error/build

[2015-12-24 08:19] Barberrrry commented on #185
With `issue/185-fix` everything is alright, thank you! Which version would include this fix?

[2015-12-24 08:33] sergei-svistunov opened #190 "Dependences on libs with incompatible versions"
### Problem: ###
We have an application that uses Lib2 and Lib3. Lib2 and Lib3 use Lib1, but Lib2 and Lib3 need different versions of Lib1:
[code]
Lib2 and Lib3 have glide.yaml with valid field version. But when I try to do `glide install` in App I see:
[code]
### Required behavior: ###
I think Glide should create vendor folders in Lib2 and Lib3 with valid version of Lib1.

### Example: ###
https:

[2015-12-24 11:41] mattfarina commented on #185
I have merged the fix into master and will be releasing 0.8.3 with it soon.

[2015-12-24 11:41] #185 closed

[2015-12-24 12:14] mattfarina commented on #190
Placing code this way is something we've explored. We observed some things when operating that way:

1. If you do this for everything you will have duplication in the binary for every instance of a package leading to bloat.
2. You have to shield packages in nested `vendor/` directories from outside code or you will get errors. For example, see this [triangle case](https://github.com/mattfarina/gol

[2015-12-24 12:15] mattfarina commented on #170
@thinkong what commit is Glide on? There was a recent bug that in some situations could cause this that's already been fixed. Can you test the tip of master?

[2015-12-24 12:34] mattfarina commented on #189
Your script is [using 0.8.1](https://github.com/favadi/glide-get-error/blob/0f450a5fe22bea01fe12ad63c9fd2479efacf970/.travis.yml#L10). There was a but in 0.8.1 when doing `glide get --update-vendored` that we fixed for 0.8.2.

Can you test this with 0.8.2? I tried with the tip of master and can't reproduce the problem.

[2015-12-24 12:57] favadi commented on #189
I copy the wrong link, acutally I tested with 0.8.2:
https://github.com/favadi/glide-get-error/blob/test/.travis.yml.

You can see the build log, I will try with master branch.

On December 24, 2015 7:34:53 PM Matt Farina <notifications@github.com> wrote:

[2015-12-24 13:32] mattfarina commented on #189
I can replicate the problem now. Thanks for the bug report.

[2015-12-24 13:41] mattfarina commented on #189
The issue appears to be that flattening isn't working for vendoring. There's [a section of code that doesn't handle vendoring properly](https://github.com/Masterminds/glide/blob/2446e8ba9eb47e12d5ceb2060575439603931f01/cmd/flatten.go#L173). [VCSUpdate](https://github.com/Masterminds/glide/blob/2446e8ba9eb47e12d5ceb2060575439603931f01/cmd/get_imports.go#L467) already handles updating, getting, and

[2015-12-24 14:23] sergei-svistunov commented on #190
I think Glide can be smarter:
Make dependences flat if it's possible. If there is a conflict then add vendor folder to dependency.

[2015-12-24 14:39] mattfarina commented on #190
I wish it were that easy. It depends on application intent and usage of a package. If something is exposed outside the parent package it can't be in separate `vendor/` directory or you'll have [this problem](https://github.com/mattfarina/golang-broken-vendor).

I want to map this out in detail to understand the pros, cons, and more detail. It's not as simple as it seems.

[2015-12-25 02:42] thinkong commented on #170
I just used go get github.com/Mastermind/glide

I also tested with the binaries given here but got the same result. Ill have to try this again after the holidays.
Merry christmas

[2015-12-25 06:35] favadi opened #191 "Glide scans for dependencies in README.md"
I test with a simple glide.yaml file:

[code]

There is no reference of `github.com/rcrowley/go-metrics` excepts in REAMDE.md.
The test script: https://github.com/favadi/glide-get-error/blob/234082dff7dc00d9d0326cbf5223e117405fd542/.travis.yml
Result: https://travis-ci.org/favadi/glide-get-error/builds/98750176

[code]

As you can see the glide.lock files contains: `github.com/rcrowley/go-metrics`

[2015-12-25 06:58] favadi commented on #191
Somehow I grep the wrong directory, this bug is invalid. Sorry for the noise.

[2015-12-25 06:58] #191 closed

[2015-12-25 09:45] bjorn-tf opened #192 "Cannot detect VCS error on private repos"
We have private repos on bitbucket. To make them available and "go gettable" to our developers and CI servers we are using [gorepos proxy](https://github.com/tuxychandru/gorepos).

For example, this is response to `wget https://gorep.ourcompany.net/ourpackage?go-get=1`:
[code]

As far as i can see, glide just ignoring two last fields in `content` attribute, and returns warning:
`[WARN] Problem set

[2015-12-26 08:48] dmitris commented on #182
It works fine now, thanks! Closing the issue.

[2015-12-26 08:48] #182 closed

[2015-12-26 13:13] mattfarina commented on #192
@bjorn-tf Glide There are two places "go-import" is used.

1. When Glide attempts to retrieve the root package. I think this is what you are seeing.
2. When [`Mastermincs/vcs`](https://github.com/Masterminds/vcs) retrieves the package. `vcs` uses all 3 parts of the "go-import" statement to find the right location to the package. [`Cannot detect vcs`](https://github.com/Masterminds/vcs/blob/eaee272

[2015-12-26 13:17] mattfarina commented on #192
Also, you can use private repos with Glide.

[code]

That will tell glide to checkout `git@github.com:private/package.git` using `git` and put it into `github.com/private/package`. The local user will need access to  `git@github.com:private/package.git` and it can be anything the local user has access to with the VCS.

[2015-12-28 01:10] netroby opened #193 "Allow force re init to add new package to glide.yaml"
I tried to add new package using glide. but i failed.
So i have to delete glide.yaml first. then re run glide init to create glide.yaml again.
Why not just let us

[code]

-f means force.
The project been developing day and day. we add new libraries more and more. we do not want this progress by hand

[2015-12-28 01:13] netroby commented on #193
By default, we using go get to add package to project.
so we need a tools like ```glide rescan```
to rescan dependencies again

[2015-12-28 06:41] thinkong commented on #170
well sorry for the late reply.
I don't exactly get what you mean by "tip of master" but i just did a `git pull` and then another `go install github.com/Masterminds/glide` but same thing happens..

[2015-12-28 08:41] thinkong opened #194 "glide update stalling on windows"
hello

I cloned and built glide on a windows machine
`git glone github.com/Masterminds/glide`
`make bootstrap`
`make build`
a proper exe came out...
but when i run it it stalls

the same thing runs perfectly on linux..
probably something wrong with a windows build?

here is what is shown when i run `glide --debug install`

[code]

[2015-12-28 08:42] thinkong commented on #170
I just created a seperate issue.. due to my issue being a windows only issue

https://github.com/Masterminds/glide/issues/194

[2015-12-28 10:01] bjorn-tf commented on #192
@mattfarina Thank you for fast response. I think that i found a problem - [detectVcsFromRemote](https://github.com/Masterminds/vcs/blob/eaee272c8fa4514e1572e182faecff5be20e792a/vcs_remote_lookup.go#L106) function:
* always tries to use https - but we are using http
* has no option to skip self-signed cert error

I think, that "insecure" flag can help here.

[2015-12-28 12:57] mattfarina commented on #193
You are right that Glide should rescan dependencies in a project. In #162 I was thinking about adding that to `glide update`. So it happens without more work from users. What do you think of that?

[2015-12-28 13:12] mattfarina commented on #194
I have a couple questions to try and understand your setup more clearly.

1. Can you provide the output of `go env`.
2. Is your project checked out within the `GOPATH`?

[2015-12-28 13:17] netroby commented on #193
If merge this feature into ```glide update``` seems not bad.
Good for me at least. if i run ```glide update```, i mean update everything, dependencies and version up to date

[2015-12-28 13:19] mattfarina commented on #192
@bjorn-tf Does the `--insecure` flag solve the problem? Or, do you need the ability to work with a self-signed cert on https?

[2015-12-28 13:27] bjorn-tf commented on #192
@mattfarina As far as i can see, `--insecure` flag has no effect.
Yes, it will be great to have ability to work with http and self-signed certs on https.

[2015-12-28 13:34] mattfarina commented on #192
The `--insecure` flag set the `repo` to be the http version of the url to the package. If you have http access what is the error?

[2015-12-28 13:40] bjorn-tf commented on #192
`glide install --insecure` do nothing, just show help message

[2015-12-28 15:06] mattfarina commented on #192
The `--insecure` flag is on `glide get` no `glide install`.

If you have an import like:
[code]

you can update it to be (this is what `glide get` with `--insecure` does):
[code]

or

[code]

if you know the VCS type.

[2015-12-28 15:55] bjorn-tf commented on #192
I've tried `glide --insecure get gorep.ourcopmany.net/package`:
`[WARN] Package "gorep.ourcompany.net/package" is already in glide.yaml. Skipping`

Of course i can add proper repo for package to glide.yaml by hands, but it will not help, because package relies on other packages(located in other private repos) and glide will fail during install phase.

I suggest to add support of `--insecure` flag

[2015-12-28 17:26] mattfarina commented on #192
@bjorn-tf Now I understand the problem. Thanks for all the detail.

[2015-12-28 17:27] mattfarina commented on #192
What we need to do is have an `--insecure` flag on the `install` and `update` commands to allow for automatically detecting insecure dependencies within all levels of the tree and allowing them to be fetched.

[2015-12-28 18:02] #189 closed

[2015-12-28 18:02] mattfarina commented on #189
@favadi thanks for the detail. I tested the fix with your script at https://github.com/favadi/glide-get-error/blob/test/.travis.yml.

[2015-12-28 18:06] aboukirev commented on #194
Same here.  My `go env` is (using MSYS2 on Windows x64 in C:\local):
[code]

My project is under D:\Go\src as is proper, i.e. in GOPATH.

What I noticed is that combining paths `glide` produces a mix of forward and back slashes and I know some other instances where it causes a lot of problems.  Look at the `[DEBUG] Looking in ...` in the log from original poster.  My guess is that same applies whe

[2015-12-28 18:45] #186 closed

[2015-12-28 18:45] mattfarina commented on #186
@technosophos in addition to fixing this I added errors and warnings if there are missing packages (not being updated) that would cause a bad glide.lock file to be generated.

[2015-12-28 18:48] mattfarina commented on #194
@aboukirev Thanks for the additional detail.

[2015-12-28 21:14] tamird commented on #172
I think having a `bin` directory inside of `vendor` is the way to go; it's going to require that users add `./vendor/bin` to their PATH, but it's the path of least friction and the only reasonable way to proceed

[2015-12-28 23:22] dnephin commented on #149
I just hit this as well, using git (not hg), running in a container, as root.  I was able to work around it by running `chown root:root -R vendor` in the container. I don't fully understand why it's a problem when files are owned by a non-root user, since root would be able to read/write them.

[2015-12-29 00:51] mattfarina commented on #149
@dnephin what version of Glide are you using and how are you getting it? What's the image this is running in? And, do you have an example project I could test?

Glide drops down to the VCS tool, in this case git, to handle its operations. Is the user running Glide root or a different user?

[2015-12-29 00:52] mattfarina commented on #172
@tamird the problem with that is the `vendor/` directory is a part of the `go` tool. Adding a _bin_ directory to that would be to deviate from the built in behavior.

[2015-12-29 00:56] tamird commented on #172
I thought the `go` tool was only aware of `vendor/` to the extent that it will look for imports in there, but never writes anything into that directory. What's the harm, then, in adding `vendor/bin`?

I suppose there is a slight danger of conflict with a package that has an import path starting with `bin/`, but that seems unlikely, and can be alleviated with the use of a different top-level direct

[2015-12-29 01:00] dnephin commented on #149
I started on 0.6.2, then upgraded to 0.8.2. I got a similar panic with both versions. The base image is `golang:1.5` with just glide installed. The project directory (including `vendor/`) is mounted as a volume to the host `-v $PWD:/go/src/github.com/dnephin/project`

I unfortunately don't have an example project to test at this time. I believe what I had done was `chown daniel:daniel -R vendor` a

[2015-12-29 01:37] lukef opened #195 "glide.yaml documentation"
Is there complete documentation listing all of the available options for the glide.yaml file? I'd be happy to do it otherwise. It's handy when you're just getting started to know what options are available so you don't have to hunt around.

[2015-12-29 03:07] mattfarina commented on #194
I just pushed a change to the branch `issue/194`. Can you try that out in your windows setup? It uses `filepath.FromSlash` to switch from path to filesystem separators in the proper environments.

[2015-12-29 04:41] aboukirev commented on #194
Somewhat better (see below) but I am getting output like this
[code]
In the output above all path separators are correct but it looks for packages in a wrong location.  Notice also that there is no line break after warning message..

[2015-12-29 05:41] pyros2097 commented on #172
What about having a scripts declaration like npm and then do a `glide run errcheck` and I suppose it would look like this
[code]
Then you wouldn't need a bin directory and don't need to use makefiles but of course it would be slow running those commands since they need to be compiled and its a bit verbose.
Even if its not used for this use case I think some scripting functionality is necessary for

[2015-12-29 08:48] thinkong commented on #194
go env
[code]
branch `issue/194` seems to give the same result

[2015-12-29 17:21] aboukirev commented on #194
Found it.  Lines 215 and 226 in tree.go split GOPATH and GOROOT by ':'.  In Windows colon is used to separate drive from the rest of the path.  The separator of paths is ';' semicolon.

[2015-12-29 18:19] mattfarina commented on #194
@aboukirev I thought we'd switched all the path splitting to use `filepath.SplitList` to handle different operating systems correctly. Thanks for catching that.

[2015-12-29 18:27] mattfarina opened #197 "Remove hash from lock"
I'm considering removing the hash from the `glide.lock` file.

**What's the hash used for?**
The hash is based on the `glide.yaml` content and is used to verify that the `glide.lock` file is tied directly to the current state of the `glide.yaml` content.

This type of thing is used by composer (the PHP package manager) but you won't find it in others such as Cargo (for Rust).

**Why consider dropp

[2015-12-29 18:46] mattfarina commented on #194
Can you try the latest on the `issue/194` branch and let me know if this fixes the issues

[2015-12-29 19:24] tamird opened #198 "`glide create` followed by `glide init` results in `Lock file does not match YAML configuration`"
Tested on https://github.com/cockroachdb/cockroach-prod

[glide.lock.txt](https://github.com/Masterminds/glide/files/74281/glide.lock.txt)
[glide.yaml.txt](https://github.com/Masterminds/glide/files/74282/glide.yaml.txt)

[2015-12-29 19:26] aboukirev commented on #194
It works overall but I have a different issue that is MSYS2 specific, nothing to do with `glide`.  Some MSYS2 applications/scripts do not like Windows paths (it's a slow process of fixing all such instances) and git is having trouble with `chdir` to a Windows path.  Never mind that though, I'll see what I can do in MSYS2 to resolve it.

[2015-12-29 20:24] mattfarina commented on #194
@thinkong does this latest update fix your issues?

[2015-12-29 20:29] davecgh commented on #194
For reference, this branch breaks things for me on Windows.  On master with no `vendor` directory or `glide.lock` file, running `glide up` gives me:

[code]

With the `issue/194` branch I get:

[code]

: exit status 128

[2015-12-29 20:37] aboukirev commented on #194
Dave, that's exactly what I'm getting and I believe it's MSYS2 (it expects *nix paths).  Is that what you use for git?  I had troubles with MSYS2 git when building atom editor plugins and and early versions of Rust.
I can see that `glide` uses its own package to wrap calls to VCS cli.  I wonder if golang built-in tooling from `go get` could be used instead.

[2015-12-29 20:45] sdboyer commented on #197
the point i find most convincing is the first. but the hash could still be useful there if, instead of using the hash of the entire file, you just work on a hash of the (alpha sorted) set of specified packages and their vendor ranges. if those are the only things that can affect the dep graph, then there's no reason to include other information in the hash (except the convenience of computing the

[2015-12-29 21:00] davecgh commented on #194
@aboukirev: Yep, I'm using MSYS2.  However, I also see the same behavior with `cmd.exe`:

: exit status 128

[2015-12-29 21:49] dnephin commented on #149
https://gist.github.com/dnephin/8046cca0b87e2d1b62ee

I've included the stack trace and the necessary files to reproduce it. Note that the first run is successful, it's on the second run, after doing a `chown`, that it panics.  I guess it was actually in the vcs HG calls.

[2015-12-29 21:50] davecgh commented on #194
For some additional data, I noticed the stall goes away on master if I change the `GOPATH` to the C: drive although it takes ages to scan and looks for the stdlib packages.

[2015-12-29 21:54] jrick opened #199 "`glide up` cannot find stdlib when project is on different drive"
While determining whether glide would meet our needs, and subsequently testing fixes for #194, @davecgh and I noticed that when GOPATH uses the D: drive, and perhaps only when the Go installation is on a different drive (mine is in C:\Go), `glide up` will recursively search through every package looking for dependencies to vendor and be unable to find any of the stdlib packages.

From a MSYS2 shel

[2015-12-29 21:58] jrick commented on #199
Also note that I was running a glide built as of commit a9410c3c368472e6540f8010baeefb6c0e578982 (I was not running the 194 branch at the time).

[2015-12-29 22:08] jrick commented on #194
I also could not reproduce any stall (even with master) when both my Go installation and GOPATH were on C:

[2015-12-29 23:49] davecgh commented on #103
I see the opposite with https://github.com/syndtr/goleveldb.  There are several dependencies that are only needed to run the tests which are included in the `imports` section of the lock file.

Glide should gain a `-t` flag (or an aptly named option in the yaml) just like `go get` has in my opinion.  Specifically:

[code]

One of the primary purposes of glide is, of course, to provide reproducible

[2015-12-29 23:59] davecgh commented on #147
Unless there is a specific need to have a single exit point (such as a required defer, for example), a simple call to `os.Exit(code)` from anywhere in the CLI tool would do the trick.  Obviously you would not want to call it from a package, but exiting from anywhere in the CLI process is almost always acceptable.

[2015-12-30 00:31] mattfarina commented on #194
If cmd.exe and MSYS2 for Git do paths differently does anyone have a pointer on how to make that work for a cli?

@aboukirev We used to use the tooling behind `go get`. But, we can't use the command itself because it doesn't support the `vendor/` directory and the libraries behind it doesn't support some of the things we need to make SemVer work. So, we moved away. I'll need to take a look at how

[2015-12-30 00:44] mattfarina commented on #199
@jrick can you try the `issue/194` branch? On that branch there is a fix for an issue with path separator handling (`:` on POSIX) that could affect handling different drives on Windows.

[2015-12-30 00:45] mattfarina commented on #198
@tamird what version of Glide are you using (`glide --version`), what OS are you on, and can you share your environment (`go env`)? This will help me in reproducing the issue.

[2015-12-30 00:47] tamird commented on #198
[code]

[2015-12-30 00:55] mattfarina commented on #198
@tamird thanks for the incredibly fast reply.

I think that was fixed in #185 and #187. Using the tip of master I'm not able to reproduce the problem. I'm shooting for a 0.8.3 release tomorrow with the fix in it.

Can you test the tip of master?

[2015-12-30 01:03] jrick commented on #199
It stalls when using that branch.

[code]

My glide.yaml in case you want to test using our repo (github.com/btcsuite/btcd):

[code]

[2015-12-30 01:05] tamird commented on #198
Yep, seems fixed on master.

[2015-12-30 01:10] jrick commented on #194
I don't believe there should be any difference in the way paths are handled by the two shells.  msys2 does provide a unix-like filesystem layout (the typical /usr, /etc, /bin... of the msys2 installation root) and merges it with paths for Windows drives (so C:\Users\jrick becomes /c/Users/jrick).  But I think that this distinction only matters for unix tools compiled for msys2, that have to use th

[2015-12-30 02:44] thinkong commented on #194
well.. it does look like it is the problem with msys..
using windows shell(cmd.exe) to do a glide up seems to work (kinda.. windows doesn't have ssh.. so i can't download via ssh)
i use cmder to do most of my shell stuff.. and it seems that is causing problems

[2015-12-30 03:24] mattfarina commented on #199
I was able to finally reproduce the problems seen here. Thanks so much for the `glide.yaml` file, example project, and setup. It's what I needed to reproduce the problem. With commit 2a54584 I believe this is fixed. This is now on master.

Please re-open the issue if the problem persists.

[2015-12-30 03:24] #199 closed

[2015-12-30 03:26] mattfarina commented on #194
I think this is fixed with the latest commits. I was able to reproduce the problems in my own environment and able to see them go away with the latest commits (now on master).

If the issue persists please re-open. If there are other Windows related issues please open a new issue.

Thanks for all the help. I want Glide to work well on Windows. Providing so much information has been quite useful. T

[2015-12-30 03:26] #194 closed

[2015-12-30 03:27] mattfarina commented on #198
@tamird Great. I'll be release 0.8.3 tomorrow (Wednesday) with this fix in it.

[2015-12-30 03:27] #198 closed

[2015-12-30 04:57] mattfarina commented on #195
@lukef documentation on the `glide.yaml` would be useful. I'd be happy to look at a pull request for it.

[2015-12-30 06:00] thinkong opened #202 "glide not working in cmder/windows"
I am opening a new issue since https://github.com/Masterminds/glide/issues/194 has fixed the issue on windows native console (cmd.exe)

I currently use a conemu wrapper called [cmder](http://cmder.net/) that contains msysgit included in it. which was installed by [chocolatey](https://chocolatey.org/).

the reason I am not using the native console is that it does not support git repos from ssh(well

[2015-12-30 06:45] jrick opened #203 "Hangs still present when using msys2 shell"
I'm not certain that this is still an issue with glide itself, but I think it's worthwhile documenting it at least somewhere.

The latest fixes on master do make glide work correctly for me when I run it from a cmd.exe or powershell window, but if I start the msys2 shell (which uses the mintty terminal emulator) it ends up hanging after the first "scanning X for dependencies" log.  CPU usage also

[2015-12-30 07:00] thinkong commented on #203
seems to be a similar issue that I added https://github.com/Masterminds/glide/issues/202

[2015-12-30 08:02] thinkong opened #204 "ssh git urls seem to fail on windows native console"
I really feel bad.. because it feels like i'm spamming this repo..

i have added a git repo in the yaml file that uses ssh

when I run this on the windows native console (cmd.exe)
[code]
I know that the yaml file is correctly configured because when i use msys2 to do a glide up it asks for the password properly.

I am using windows 7 with latest glide master cloned and build from github

[2015-12-30 11:10] mattfarina commented on #202
I caught another place a loop can happen with 285779832ef12946ddc451a81b0f2fefea42b706. Can you try again?

[2015-12-30 11:12] mattfarina commented on #203
@jrick can you fill me in on your environment (e.g., `go env`)?

I posted a fix at 285779832ef12946ddc451a81b0f2fefea42b706 that could cause an infinite loop on scanning in some situations (most notably Windows). Is it any better using the tip of master now?

[2015-12-30 11:23] mattfarina commented on #204
@thinkong You've been a great help in making Glide more stable on Windows. Don't feel bad. I appreciate it.

Glide calls out to `git` directly to clone or update the repo. From the native console can you execute commands like:

    git clone somerepo

or:

    git fetch origin

Also, a little trick (which I need to add to `--debug`) is if you open up `cmd/get_imports.go`, uncomment lines 29-33 (an

[2015-12-30 11:30] mattfarina commented on #197
@sdboyer the usability hiccup is when you have to run `glide up` to regenerate the `glide.lock` because you modified something non-interesting (license, updated version range but it doesn't affect your pin, etc) and you have a large project (like helm which pulls in k8s) to figure out.

I also ran into a weird issue that on Windows a known working hash (tested on Mac) was saying it wasn't the righ

[2015-12-30 11:45] thinkong commented on #204
actually the problem I was having wasn't occuring when i was using msys2.
When i do use msys2 it was asking for my password.. which i think is the proper behaviour.. but on windows console.. it never asks for my password. I'll have to try this when i get back to work tomorrow.

[2015-12-30 12:54] kshlm commented on #166
I changed the title of the issue to make it more relevant to the enhancement request.

[2015-12-30 13:55] sdboyer commented on #197
@mattfarina please reread my comment with the suggestion about changing what's computed in the hash and re-address

[2015-12-30 14:10] jrick commented on #203
Seems to be fixed for me on master now (glide up works no matter what drive my GOPATH is on, and is working in all shells).  Thanks!

FWIW: my `go env` environment variables were the same in both shells:

[code]

[2015-12-30 14:10] #203 closed

[2015-12-30 14:22] mattfarina commented on #197
@sdboyer potentially. It would require the hash calculation to be more work (create an alpha ordering) and less usable with other tools. For example, is you run `shasum -a 256 glide.yaml` on the `glide.yaml` in the Glide project you'll see the value that's inside the `glide.lock` file.

[2015-12-30 14:23] mattfarina commented on #197
Note, I've backed off exiting if the hash doesn't match. Instead there is a warning for now.

[2015-12-30 14:55] jrick opened #205 "filepath.Clean"
Currently this function is not called at all by the project.

Anytime you need to programically deal with filepaths from user input (glide.yaml, environment vars, etc.), and especially when making comparisons between them, this should be called on the input first.

As an example, 2a54584e09c449e72940dfd910ab94e1f0e9c1a2 fixed the case where the GOPATH may or may not end in a path separator.  If bo

[2015-12-30 15:19] mattfarina commented on #205
Good call. Thanks for the suggestion.

[2015-12-30 15:43] davecgh commented on #205
Along these lines, I'd suggest using [filepath.Join](https://golang.org/pkg/path/filepath/#Join) throughout versus `first + os.PathSeparator + second`.

The function properly works with all Windows paths (those with drives and even UNC paths) and the result is automatically cleaned (per the aforementioned `filepath.Clean`).

[2015-12-30 18:20] sdboyer commented on #197
@mattfarina sure, it would make it less portable. But is there a concrete use case there? I can't imagine a workflow offhand where I would manually do `shasum -a 256 glide.yaml`. I'd expect glide would do that for me automatically, or provide a subcommand to tell me if it matches.

If the concern is for other Go tools' ability to work with that data, it's as simple as exporting a func that does th

[2015-12-30 18:21] sdboyer commented on #197
Also, as a separate thought - is this perhaps one of those issues that looms much larger for the developer of the project than it would for a user?

[2015-12-30 18:33] jrick commented on #204
I'm seeing similar with powershell.  If I change one of our dependencies to use a git@github.com:foo/bar.git ssh clone url, it seems to be unable to find the correct pubkey.

[code]

Cloning manually works.

[code]

The pubkey it should be picking up is in C:\Users\jrick\.ssh.

I'm using (an albeit outdated) Git installed from http://git-for-windows.github.io/, and the directory is added to my pat

[2015-12-30 20:31] aboukirev opened #206 "Glide fails to checkout vendor packages on Windows"
After #194 was fixed I started getting the following warnings a lot:
[code]
This is in Windows x64 using git from MSYS2.

I was able to fix it by adding a snip of code that creates missing directory at line 497 in cmd/get_imports.go:
[code]
I wonder if it is inability of git from MSYS2 to create directory as it checks out the sources.  But this worked.

[2015-12-30 20:32] jrick commented on #206
That error is from git.

Masterminds/vcs#11

[2015-12-30 20:44] davecgh commented on #206
As @jrick notes, the issue here is the vcs package is using absolute Windows paths instead of operating like the Go tooling does where it effectively changes to the directory itself (by setting the `.Dir` field on the `exec.Cmd` type) and using a relative path.  This allows the Go tooling to avoid the need to use absolute paths and therefore it will work with msys2 git as well as git-for-windows a

[2015-12-30 20:50] aboukirev commented on #166
My projects use `context`, `http2`, and `websocket` subpackages from the `golang.org/x/nt`.  Those do not require any further dependencies (project builds fine).  However, `glide` starts pull all dependencies for the entire `golang.org/x/net`, which results into dozens of unused packages in vendor folder.  If anything, I preferred the original `glide` where I would add all necessary packages to ve

[2015-12-30 21:18] davecgh commented on #166
I agree with @aboukirev in regards to this issue.  For example, we use `ripemd160` from `golang.org/x/crypto`, but glide pulls all the other packages in the `golang.org/x/crypto` which aren't used or needed.

[2015-12-31 06:42] baliw commented on #164
@mattfarina @technosophos

We could really use a way to ignore directories in dependencies.

I'm trying to use [Echo](https://github.com/labstack/echo) and it has a `recipes` directory that ends up causing all kinds of dependencies to get loaded that I don't need.

I tried the "ignore:" trick but it's long and didn't seem to work anyway.   Also, I have to keep updating that as the project ads more

[2015-12-31 21:14] albrow commented on #112
I too was frustrated by the default git submodule behavior. See this [StackOverflow question](http://stackoverflow.com/questions/34280436/how-can-i-manage-go-dependencies-while-checking-the-vendor-directory-into-versio) for more context.

Basically, I'm writing a library and wanted to check in the vendor directory so that users of the library would not necessarily need to install Glide. The goal i

[2015-12-31 21:51] technosophos commented on #112
@albrow keep us posted, please. I, too, have been frustrated that it seems like `go get` becomes unusable for glide projects.

I'm pondering what it would take to build a remote service along the lines of `gopkg.in` that could do this interim step of pulling a set of glide dependencies and then making them `go get`-able. I was recently told that Bundler and npm both do some server-side magic to al

[2015-12-31 22:22] technosophos commented on #193
`glide up` _does_ rescan dependencies, doesn't it? But it will just try to re-download them if the only copy of a dependency is on $GOPATH.

Is there a reason to not use `glide get PKG` instead of `go get PKG`?

[2016-01-01 13:35] mattfarina commented on #193
@technosophos `glide up` does not scan _your_ codebase for new dependencies. It just scans the dependencies in the `vendor/` folder for changes. I think the suggestion here is to rescan _your_ codebase. That way you don't need to `glide get PKG` to make sure everything is present. A little extra automation.

[2016-01-01 13:37] mattfarina commented on #206
So, the fix here would be to use relative paths instead of absolute ones.

That change should happen here instead of in Masterminds/vcs.

[2016-01-01 13:43] mattfarina commented on #166
There are two things here.

First, there are all the packages in something like `golang.org/x/crypto`. We can't avoid pulling down all the different crypto packages because they are part of the same repo. The `go get` tool fetches them all today.

Second, we could be smarter about pulling down dependencies of this project to pull down fewer. Maybe out of the box Glide only pulls down the code path

[2016-01-01 13:43] mattfarina commented on #149
@dnephin thanks!

[2016-01-01 16:43] davecgh commented on #166
Right, I wasn't very clear.  I understand there is no way to avoid pulling the repo and checking out the appropriate version.  That is of course one of the major reasons for using glide to lock specific versions.

I was more referring to your second point.  Right now, glide also pulls the dependencies of all of the packages in the repo instead of just the ones needed by the active code path.  For

[2016-01-01 17:20] mattfarina commented on #166
@davecgh Glide doesn't pull the dependencies used by the tests following the Go rules for that (e.g., `_test.go` files). If packages are being pulled it's because they are in normal Go files like applications files. I'm starting to discover that the Go conventions for tests aren't being followed by some packages so the tests appear as normal Go files to any automation.

[2016-01-01 19:00] davecgh commented on #166
@mattfarina: Alright, so after looking more closely you're correct that it's the result of a `testutil` subpackage in [goleveldb](https://github.com/syndtr/goleveldb) that imports the unneeded deps as opposed to a `_test.go` file.

I made a test repository to show the difference between `go get` and `glide`.  Perhaps it'll be useful for testing in the future.

[code]

Notice how `go get` does not

[2016-01-01 20:09] mattfarina commented on #166
Yup. Glide can get smarter with the packages imported. This this a great example of the difference. Thanks.

[2016-01-02 02:18] davecgh commented on #154
I'd also like to see this.  Perhaps I'm in the minority, but honestly, I think this is how `get` should work by default with the flag being to use the current `get` behavior (that is to say fetching a single dep and updating the `glide.yaml` file would be something like `glide get --dep` or even `glide getdep`).

My reasoning is that it would be a smoother transition from the `go` tool.  With that

[2016-01-02 06:02] DocMerlin opened #207 "Glide now scans all dependencies for their dependencies and tries to install them."
Glide now scans all dependencies for their dependencies and tries to install them.  This breaks glide for many packages, by trying to install large number of unused dependencies.
It also breaks certain other packages by trying to install at a root level, certain dependencies that are handled internally.
Could you guys go back to the old system?
I was excited about having a go package management sy

[2016-01-02 17:37] mattfarina commented on #207
I understand your pain point. We're not going back to the old system but we'll move to something better than the old system and what's there now. Let me explain.

If Glide only fetches what's listed in the `glide.yaml` file you need to have the complete tree of dependencies listed there. That's your projects dependencies, the dependencies of your dependencies, etc. This is hard to keep track of es

[2016-01-03 23:43] thinkong commented on #202
latest pull confirmed working :+1:

[2016-01-03 23:52] thinkong commented on #204
hmm.. uncommenting what the lines you mentioned shows no additional insight..
git works properly because the other go packages featured on github using https works.
its just the ones that use ssh with a public key that seems to have problems with me

[2016-01-04 14:23] mattfarina commented on #204
Glide drops down to the `git` command. It should be executing it as the same system user that called `glide`.

I wonder if this as something to do with the `PWD` handling inside the Masterminds/vcs package. On POSIX (mac, linux, etc) the `PWD` environment variable is the path to your working directory. So, when the [environment is setup](https://github.com/Masterminds/vcs/blob/eaee272c8fa4514e1572

[2016-01-04 18:59] robaman opened #208 "Conservative updating feature"
Discussed with @mattfarina  on IRC, the ability to remove a dependency from glide.yaml, and having glide.lock rewritten to reflect the removal without updating any of it's existing depency versions.

With bundler in the Ruby-world this is done by removing the dependency from the Gemfile, running 'bundle install' and then having the Gemfile.lock rewritten with the same versions, but without the dep

[2016-01-05 04:16] thinkong commented on #204
hmm... I checked my environment.. and it seems like it had different versions of git.
using the git from msysgit works.. but the one installed from git for windows doesn't seem to work :(
kinda weird...

[2016-01-05 04:44] dhanunjay opened #209 "glide up causes build break"
Error
------
../vendor/github.com/labstack/echo/echo.go:20:2: cannot find package "golang.org/x/net/http2" in any of:
	/home/dhanu/work/gocode/src/github.com/dschool/vendor/golang.org/x/net/http2 (vendor tree)
	/home/dhanu/.local/share/umake/go/go-lang/src/golang.org/x/net/http2 (from $GOROOT)
	/home/dhanu/work/gocode/src/golang.org/x/net/http2 (from $GOPATH)

Go env
---------
GOARCH="amd64"
GOBIN

[2016-01-05 04:49] dhanunjay commented on #209
I have tried **glide get golang.org/x/net/http2** after **glide up** as mentioned above. But it did not pull http2. Can it be overwrite issue?

[2016-01-05 05:07] Unknwon commented on #83
No one is caring this...?

[2016-01-05 14:04] mattfarina commented on #208
Thanks for submitting this. I have some ideas how this can be done.

[2016-01-05 14:06] mattfarina commented on #204
Does the one from git for windows have any special environment needs? I'm trying to understand what's going on to find that fix.

[2016-01-05 14:15] mattfarina commented on #83
@Unknwon we care. We just have a few higher priorities. The highest is cleanup the codebase to 1) remove old unused code and 2) make the internal architecture easier for people to contribute.

Once that is done doing the tags will be easier for me or someone else.

[2016-01-05 14:26] mattfarina commented on #209
I found the problem. The `github.com/gin-gonic/gin` project requests the `golang.org/x/net` project at the version `621fff363a1d9ad7fdd0bfa9d80a42881267deb4`. This version is prior to the the inclusion of `http2`. This is a case of the first requestor wins. It is an example of why using commit ids to specify versions can cause problems.

Can you try the `glide.yaml` file:
[code]

By specifying the

[2016-01-05 15:38] mattfarina commented on #181
I believe Install is complete. Tested it with both vendored and non-vendored. Though, I didn't test all permutations of all options.

[2016-01-05 20:47] Unknwon commented on #83
@mattfarina thanks for the info! Hope this can be implemented in Spring :trollface:

[2016-01-06 00:36] colemickens opened #210 "glide install fails with alias: "The Remote does not match the VCS endpoint""
My `glide.yaml`:

[code]

Snippet of log from `glide install`:

[code]

Error originates in source here: https://github.com/Masterminds/vcs/blob/master/repo.go

[2016-01-06 00:39] colemickens commented on #210
Apologies, it looks like this is due to me not clearing out the relevant repo under `vendor/` before "switching" via the alias. I executed `rm -rf vendor/`  and then glide was able to install normally.

[2016-01-06 00:39] #210 closed

[2016-01-06 05:24] thinkong commented on #204
I just updated to a newer version of git-for-windows and it seems to work now.. i THINK the problem could have been the ssh client that I had installed when installing the previous version.. but i can't recall   what I installed exactly.
@jrick  you should try to install the latest version too

[2016-01-06 06:00] jrick commented on #204
Same error with 2.6.0.

[2016-01-06 13:50] mattfarina commented on #204
Do any of those use the `PWD` environment variable?

[2016-01-06 13:50] mattfarina commented on #83
So do I

[2016-01-06 14:23] jrick commented on #204
Doesn't appear so.

[code]

The process is still running relative to C:\Users\jrick\test and is ignoring the PWD environment var.

[2016-01-07 06:07] dhanunjay commented on #209
With the above workaround, i was able fix the build issue with **go build**. However i am facing another issue when compiled for google appengine. It might not be glide issue. Thanks for looking into it.

Appengine compiler issue
--------------------------------
2016/01/07 10:51:59 go-app-builder: Failed parsing input: parser: bad import "unsafe" in vendor/github.com/siddontang/go/hack/hack.go

[2016-01-07 10:14] dmitris opened #211 "allow to run glide commands in a directory other than PWD"
With go toolchain, you can issue a command like `go install github.com/Masterminds/glide` from any directory - you don't have to `cd $GOPATH/src/github.com/Masterminds/glide` beforehand which is convenient for example for the automated build systems or scripts.  Would it be possible to enable something similar in glide where you could decouple the target directory (with glide.yaml / glide.lock fil

[2016-01-07 14:12] mattfarina commented on #209
@dhanunjay The [`unsafe`](https://golang.org/pkg/unsafe/) package is part of the standard library. Glide does not manage those. Look in your `vendor/` folder and you should not have the `unsafe` package.

Looking at docs on Appengine it appears you can't use the `unsafe` package there. It's an appengine limitation likely put in place for security.

[2016-01-07 14:13] mattfarina commented on #211
@dmitris I'm open to the idea. I would ask that you wait on a PR until we finish the `feat/no-cookoo` branch. We are cleaning up the internal architecture right now to make it easier to contribute and remove legacy code.

[2016-01-07 14:34] mattfarina commented on #181
I read the Create code and ran some tests. It appears to be working.

[2016-01-07 15:08] mattfarina commented on #181
While importing from godep appears to work the functionality is odd now that the create command can auto-import and you already need a `glide.yaml` file to run the command (which is how it worked before the update).

@technosophos should we revisit how the import commands work?

[2016-01-08 01:16] pspeter3 commented on #168
Is there an open issue that is tracking this development?

[2016-01-08 14:21] mattfarina commented on #168
@pspeter3 yes. See #152 and #103. We're currently cleaning up the internals of Glide which will remove some old code and make it easier for people to contribute. Once that is done this is one of the higher priority items. It will be coming soon since much of that cleanup work is done.

[2016-01-08 14:38] mattfarina commented on #181
Tested importing gb and it appears to work. Again, the import functionality is still confusing. But, that's there today. The import combines what's in the `glide.yaml` file with the imported GB contents and displays them rather than saves them. For example, if the `glide.yaml` file has been created and has no dependencies and you import from GB it will only print to the screen what was in the GB f

[2016-01-08 14:48] mattfarina commented on #181
Tested GPM import which is working.

[2016-01-10 22:15] arvenil opened #213 "Trying to understand glide on example of `glide get github.com/aws/aws-sdk-go`"
So... for the first time I'm trying out glide (and also experimental vendor flag) and first run is a bit confusing for me.
Here goes example:
[code]

My questions:

1. Why `glide get github.com/aws/aws-sdk-go` ended up fetching 13 dependencies? Shouldn't it just download `github.com/aws/aws-sdk-go` and nothing else since this project has a `vendor` dir?
From [how it works](https://github.com/Maste

[2016-01-11 13:35] gkalabin opened #214 "No stdlib detection when multiple paths present in GOPATH"
When my GOPATH looks like `~/go1:~/go2`, glide cannot detect stdlib packages and tries to update them.
At the same time such a value is supported by golang and legit (https://golang.org/cmd/go/#hdr-GOPATH_environment_variable).

[2016-01-11 14:20] mattfarina commented on #214
@gkalabin Glide should be able to work with multiple GOPATHs and handle stdlib packages. Can you provide some information about your environment (e.g., `go env`, OS/version, version of glide (`glide --version`), and how you got Glide)? This will help me troubleshoot.

[2016-01-11 14:31] mattfarina commented on #213
@arvenil I think I can answer your question. This is where `vendor/` practices get confusing and I'm happy to take feedback here.

1. `github.com/aws/aws-sdk-go` uses all those dependencies within its codebase. Now, it does have 2 dependencies in a `vendor/` folder. Where things get difficult is that each `vendor/` folder is a different location and the same dependency in two different `vendor/` f

[2016-01-11 14:38] gkalabin commented on #214
No stdlib detection in this environement:
[code]

[2016-01-11 14:49] mattfarina commented on #181
Just reviewed the Update commands needs some work. Right now it does a single pass and does not handle imports. If the initial dependencies aren't present it can't get their dependencies. In the dependency tree it's only able to resolve a couple steps and not the complete tree. And, it can't handle imports from other package managers.

[2016-01-11 18:59] colemickens commented on #151
This has been behaving as I expected since Glide 0.8 was out. Closing.

[2016-01-11 18:59] #151 closed

[2016-01-12 22:43] termie commented on #207
this is marked a duplicate, but of what?

I am running into this in a huge way, anything that tangentially mentions Docker pulls in 500MB of dependencies.

[2016-01-12 23:01] termie commented on #207
related,  i think coreos/go-systemd might mention docker somewhere (the two private repos don't) and I end up with 733MB worth of deps (was 132MB on glide 0.2) https://gist.github.com/termie/885e092351be6951a734

[2016-01-13 00:11] mattfarina commented on #207
I removed the duplicate label because I can't find the other issue.

The gist, there is a feature request to only follow the package paths being referenced rather than to get all the things.

[2016-01-13 00:35] colemickens commented on #184
Hi @mattfarina,

For my needs, it was easier to copy the small struct from the Kubernetes project than pay the cost of vendoring the entire repo.

It sounds that there is a bug in how glide handles redirected packages. Is there another issue to track that problem?

Yes, I can see why. Go + third party libs is enough... add vendoring and big mono-repos and it only gets more fun...

[2016-01-13 19:01] termie commented on #207
@mattfarina i will happily write that for you do you have some pointers on where to start? spending 10 hours on this will save me 2 - 20 minutes 15 times a day

[2016-01-13 21:49] termie commented on #207
k, after spending a couple hours tracing code through the "cookoo.Registry" and get_imports.go, my conclusions (and heap of unsolicited advice, no offense meant just being direct with my opinionated observations) are:
 1. I can add a single line to my glide.yaml and turn off recursion altogether to end up with a 24MB vendor folder (vs 733MB) since there is only a single subdependency that needs to

[2016-01-13 23:23] termie commented on #207
i guess the question to ask is, what does `go build` know that we don't when it tells us we are missing a dependency and how do we do that ourselves

[2016-01-14 06:23] ccll commented on #190
@sergei-svistunov I've running into the same issue, but unfortunately, as @mattfarina said, although the source code can be placed into separate vendor directory, you still need separated `$GOPATH` to store compiled binaries, which seems complicated/impossible for now.

[2016-01-14 14:20] mattfarina commented on #190
I do want to poke at this more. While the situation isn't optimal there may be a work around... even if it's opt-in and sub-optimal. It's on my todo list.

[2016-01-14 14:39] mattfarina commented on #207
@termie We have a `feat/no-cookoo` branch we're actively working to clean up the architecture. The things you noted, like the `cmd` sub-package are something we're in flight on fixing.

As part of that we have a fairly new dependency resolver. It was initially designed to scan directories which is needed for a root project. The Go code could reside in the top level folder or start in subdirectorie

[2016-01-14 18:00] termie commented on #207
@mattfarina cool, those all sound like good ideas :+1: I didn't get deep enough into how the build context was deciding on packages to know what needs to be done (I started by doing top level deps only, then when I tested to see how many were still being complained about and only saw 1 missing dep I shortcircuited my patch).

[2016-01-14 22:05] james-lawrence commented on #211
+1 was coming to make a request for this feature myself.

[2016-01-15 02:45] colemickens opened #215 "`glide rebuild` doesn't handled an aliased package"
[code]

[code]

Easy repro: this revision: https://github.com/colemickens/azkube/commit/b5af0b0eabe1d0a84852c09e80dd86912ab4e34f

Maybe I did the alias wrong? Even though it worked for other things? I've just removed all instances of `go-uuid` and reference the new location. This has unblocked me. Still curious about this though -- aliasing is one of the reasons I'm using glide.

[2016-01-15 09:45] christophberger opened #216 "glide install/update fails on Windows behind corporate proxy due to backslashes in URL"
Hi,

I stumbled across a weird constellation that makes glide install and glide update fail:

1. OS is Windows
2. A corporate HTTP proxy/firewall is in place.

What happens:

* glide creates URL's with backslashes.
* The corporate firewall appears to freak out and messes around with the SSL certificate, trying to provide its own, self-signed certificate in place of github's.
* If I set GIT_SSL_NO_

[2016-01-15 11:49] kihamo commented on #147
+1

[2016-01-15 12:23] d-ulyanov commented on #147
+1

[2016-01-15 13:28] d0xin commented on #147
+1

[2016-01-15 13:31] james-lawrence opened #217 "config api inconsistency import vs devImports"
not sure if we care but noticed that the two configuration directives import and devImports have different plurality.

be nice if they were consistent when devImport is implemented.

[2016-01-15 16:26] mattfarina commented on #207
I just did some more work on the new architecture branch. I "should" be able to merge it in the middle of next week. We have one glaring issue left I'll fix I can fix before then.

[2016-01-15 16:35] mattfarina commented on #216
@christophberger Thanks for bringing this up. Can you please provide a little more information. What version of Glide are you using (`glide --version`), how did you get Glide (`go get`, binary download, something else), and can you share your `glide.yaml` file or provide some example representation.

I'd like to try and reproduce the problem to verify, understand, and test any fixes.

[2016-01-15 16:38] mattfarina commented on #217
@james-lawrence fantastic catch. When we make `devImport` work, in the near future, we can fix this.

[2016-01-15 23:49] technosophos commented on #184
I don't think it's just when packages are redirected. I think it's when one package is manually moved to a new repo, and the old one is marked private. I seem to recall testing this with another repo and the redirect was fine.

[2016-01-15 23:56] colemickens commented on #184
I don't really know. I do know that the very first example is neither a moved, redirected or private repository...

[2016-01-15 23:57] colemickens commented on #184
The packages in question must be redirecting anyway, or they'd never build correctly in the first place without glide.

[2016-01-16 00:05] arschles opened #218 "add a 'glide rm' command"
Similar to how `glide get my/package/name` adds the package to the `glide.yaml`, computes dependencies, and adds everything to the `glide.lock`, it would be helpful to have a `glide.rm` do the opposite.

Currently, I'm getting around this issue by manually removing the dependency I don't need anymore and then running `glide up my/removed/dependency`

[2016-01-16 00:07] technosophos commented on #218
Based on my discussions with @arschles, this would be distinct from `glide up` in that it would not update any of the pinned versions for existing non-removed dependencies.

[2016-01-16 00:09] arschles commented on #218
ah, right. I forgot that, but it's a very important clarification. :+1:

[2016-01-17 10:55] Akagi201 opened #219 "go build failed"
[code]

my source code is here: <https://github.com/Akagi201/go15vendor-hello>

It seems that `go build` doesn't go to `vender` directory to find the deps. Why? Help needed!

[2016-01-17 16:58] technosophos commented on #219
Did you forget to do `export GO15VENDOREXPERIMENT=1`?

[2016-01-18 08:57] christophberger commented on #216
@mattfarina I used the binary from glide-0.8.3-windows-amd64.zip. For my attempt to fix the issue, I cloned the master branch at tag 0.8.3-2-g66ba663.

Here is my glide.yaml:

    package: sieblog
    import:
    - package: github.com/Sirupsen/logrus
      subpackages:
      - github.com\Sirupsen\logrus
    - package: github.com/christophberger/start
      subpackages:
      - github.com\christoph

[2016-01-18 18:43] arvenil commented on #213
1. My point is, the doc says that in case if there is already `vendor` dir it's not going to fetch any dependencies, just vendor dir. However glide currently works differently, it doesn't care if `vendor` dir is there, it will always scan everything for dependencies. I'm not saying behavior is wrong, I'm saying that either I don't understand doc or doc says it wrong.

3. I have another problem, th

[2016-01-18 23:24] fwip commented on #112
@albrow Was the error something along the lines of `No submodule mapping found in .gitmodules for path 'vendor/...'` ?  If so, this is due to a bug in Go 1.5's submodule handling.  It should be fixed for 1.6 (commit here: https://github.com/golang/go/commit/761ac75a948e14fcd8472684effedf75f3fc316e ).  In the meantime, you should be able to workaround the issue by executing `go get mypackage ; go g

[2016-01-19 14:17] mattfarina commented on #184
@colemickens can you share your `glide.yaml` file? I'm interested in the entry for `github.com/dustin/go-humanize` or the one that has something to include that. I want to try and replicate the issue.

[2016-01-19 14:19] mattfarina commented on #219
@Akagi201 Prior to Go 1.6 you need to set `GO15VENDOREXPERIMENT=1` for the `go` tool to pick up things in `vendor/` folders. Once Go 1.6 is out that will be on by default.

We ask about this because you'd have a 3rd search path listed with the `vendor/` folder if that were enabled.

[2016-01-19 14:21] mattfarina commented on #216
@christophberger Thanks. Did you create this by hand?

None of these sub-package entries should exist. Did you add them?

[2016-01-19 15:10] mattfarina commented on #213
@arvenil We're currently working to make #1 and #3 better. Optimization can be hard.

[2016-01-19 15:16] mattfarina commented on #112
First, this isn't about my opinion. More a matter of something we need to take into account for anything we craft.

This is from the [Git documentation](http://www.git-scm.com/book/en/v1/Git-Tools-Subtree-Merging). Many find submodules to be difficult to work with and they can be a source of confusion. I learned this answering questions about submodules in the past. Anyone attempting to leverage t

[2016-01-19 16:33] christophberger commented on #216
@mattfarina This yaml file was generated from an internal package. But the problem is not within the yaml file anyway. I expect that you can replicate this with any glide.yaml as long as you do a glide install or glide update on Windows. You should then see that the generated URL's contain backslashes:

    [WARN] Update failed for github.com\pkg\profile: Cloning into 'C:\[...]\src\sieblog\vendor\

[2016-01-21 05:16] hectorj commented on #166
Just a detail, but how would you name this flag?

And another question concerning this case: https://github.com/Masterminds/glide/issues/166#issuecomment-164425722

Should the new feature also kick-in in that case, or only if subpackages are explicitely listed?

[2016-01-21 15:12] cyrilleverrier opened #221 "fail to import bzr repository: subfolders are not created"
With the following `glide.yaml`
[code]

[code]

`glide up` works when the missing folder is created manually:
[code]

[2016-01-21 15:46] cyrilleverrier commented on #221
see PR: https://github.com/Masterminds/vcs/pull/13

[2016-01-21 16:16] mattfarina commented on #181
We still have an open todo to fix up dependency handling inside the installer. It goes between deps, string names, and deps where some info can be lost along the way. For example, subpackages aren't showing up in lock files along with other info.

[2016-01-21 17:31] mattfarina commented on #221
I can verify the issue.

[2016-01-22 10:48] pyros2097 opened #223 "Cgo based libraries take forever to run?"
I don't know whether is the is a glide issue or go vendor issue but it seems if I install a cgo based library with glide into my vendor packages and try to run my main file it takes a very long time to run but if i don't vendor these packages it runs in normal time.
This is the code I tried to run
[code]

My glide.yaml file
[code]
My GoENV
[code]

[2016-01-22 12:19] dmitris commented on #166
I added another example of a case where glide includes dependencies that are *not* needed by the project:
https://github.com/dmitris/deptest4glide
with a short write-up in the README.  The example uses only golang.org/x/net package (with the html golang.org/x/net/html and [transitively] golang.org/x/net/net/atom subpackages) - but `glide update` also pulls in golang.org/x/crypto and golang.org/x/t

[2016-01-22 12:57] james-lawrence commented on #214
@mattfarina make sure you are using the filepath.ListSeparator.
I see its used https://github.com/Masterminds/glide/search?utf8=%E2%9C%93&q=ListSeparator
but not sure if its used everywhere its needed to.

[2016-01-22 20:58] mattfarina commented on #214
@james-lawrence on Monday, barring any huge issues, i plan to merge in the `feat/no-cookoo` branch which does a major internal re-architecture. At that point this will either be fixed or shortly there after since there will be just one place to fix it then.

A fix is coming soon.

[2016-01-22 21:03] mattfarina commented on #166
On Monday, barring any major issues being found, I'm going to merge in the `feat/no-cookoo` branch. This is a major internal reworking that includes a simplified dependency resolution architecture.

In the new setup the `dependency` package contains a resolver. That needs to be updated to that the local project resolution can do directories (`ResolveLocal` method) while the tree walking (`ResolveA

[2016-01-22 21:07] mattfarina commented on #223
If it has anything to do with running the `go` command it's not an issue with Glide. What commands are acting slow?

[2016-01-22 22:03] dmitris commented on #166
:+1: - rooting for the success of that big refactoring piece you are doing. The world needs glide as a great dependency management tool - and it seems many people are eager to contribute in different ways! :smile:

[2016-01-23 11:56] pyros2097 commented on #223
Just `go run main.go` maybe its an issue with the go compiler I guess it doesn't compile cgo based libraries in vendor packages and put them in this folder `pkg/linux_amd64` and I think it might be recompiling them everytime just running the sqlite example takes a minute if its vendored.

[2016-01-23 14:37] andrewzeneski commented on #175
I'm running into this exact issue on OS X 10.11.3 with Glide 0.8.3, Go 1.5.3 and Git 2.7.0. All were  installed from Homebrew. The Gopath is valid; no errors or warnings from Glide. I'd love to get this to work, any ideas?

[code]

[2016-01-23 15:27] andrewzeneski commented on #175
Just wanted to followup, this may be related to dependencies. I have successfully been able to install packages without dependencies and those with dependencies but which also use glide.

#### Working examples
github.com/Masterminds/sprig
github.com/gmallard/stompngo
github.com/bitly/go-simplejson
github.com/cihub/seelog

#### Problem Examples
git.eclipse.org/gitroot/paho/org.eclipse.paho.mqtt.gol

[2016-01-23 21:41] andrewzeneski commented on #175
Turns out "vendor" is supposed to be in `src/hello` rather than in `GOPATH` directly. This was my misunderstanding. This is working for me now perfectly.

[2016-01-25 15:08] gerred opened #225 "Parallel Glide Up"
Right now, it appears as if `glide up` is sequential. This is sort of painful for larger sets of dependencies.

It'd be really nice if Glide could fetch updates for multiple dependencies at a time. Any particular architecture barriers to that right now? Happy to PR it.

[2016-01-25 15:32] technosophos commented on #225
It's on a feature branch due to be merged very shortly (`feat/no-cookoo`).

[2016-01-25 15:35] technosophos commented on #223
The `glide rebuild` command was designed to speed this up for you (by caching .a and .o files), but recent toolchain changes in Go 1.5 have sort of reduced the value of `glide build`. Unfortunately, we seem to be at the mercy of the Go toolchain on this one.

[2016-01-25 15:42] pyros2097 commented on #223
Yeah I sorted this one out by manually doing a go install but I thought go run should do this but I guess its not meant to work that way.

[2016-01-26 14:15] mattfarina commented on #166
It took an extra day because I found a bug that should have been fixed before people started complaining on master.

Blockers to this are now removed.

[2016-01-26 14:21] mattfarina commented on #223
I had the same expectation of `go run` so I understand. Glad you got this worked out.

[2016-01-26 14:21] #223 closed

[2016-01-26 16:36] gus opened #226 "EnsureGoPath fails when GOPATH has multiple directories listed"
So, if your GOPATH has multiple directories listed, the new `EnsureGoPath` function fails when calling a stat on `$GOPATH/src`.  e.g.

[code]

This was introduced with [the latest commit](https://github.com/Masterminds/glide/commit/87489e82b1ac46345089552b7a6736c10f582ece#diff-fbd61ea1f28a9198f93880a8e505bc37R90).

[2016-01-26 16:38] charneykaye commented on #226
+1 .. As of this morning, I'm experiencing the same failure.

[2016-01-26 19:11] abrykajlo opened #228 "resolving imports on "appengine""
Somewhere in the dependencies of our project there is an:

[code]

in the main.go folder of a subpackage we are not using. In the case of an appengine app this makes sense and will import properly but in the case of calling `glide up` this depency with give a:

[code]

[2016-01-26 19:45] mattfarina commented on #228
I can help with this. Two things:

1. [Helm uses the `ignore` property to skip that. Try doing the same thing.](https://github.com/helm/helm/blob/e71f845ca56fa21509d942c71f0d68201eb105d8/glide.yaml#L3)
2. We are going to try and make waling the import tree more intelligent so it automatically skips things like this.

Does that help?

[2016-01-26 19:49] abrykajlo commented on #228
@mattfarina yes thank you

[2016-01-26 19:52] #226 closed

[2016-01-27 08:06] dmitris opened #229 "install does not create a lock file if it does not exist"
https://github.com/Masterminds/glide#glide-install says at the end of the section:
[code]
but after the recent change, it no longer happens.  `glide install` just dies with the message:
[code]
which must be coming from https://github.com/Masterminds/glide/blob/master/action/install.go#L23

We relied on the documented `go install` behavior so now it breaks the builds...

@technosophos @mattfarina

[2016-01-27 11:41] hectorj opened #231 "Can't use etcd 2.2.4 anymore"
You can check with this glide.yaml:
[code]

Here is what it gives with the new master (aaf314cbb79b0c6a1b419a099fffdbcf774b1875):

[code]

But it works if I revert Glide to f8f06478c5db01a4e02bf04fa684e01aecb40451

[2016-01-27 13:34] dmitris commented on #229
actually after some thought (and fixing failing builds), I would be in favor of keeping the commands' functionality focused and free from overlaps - so that `glide update` and `glide install` each does its own thing without calling each other.  Maybe we could turn the bug into the feature and document accordingly? I don't think it is big overheard or problem for users to call `go update && go inst

[2016-01-27 14:21] mattfarina commented on #231
There is a problem here. I'm trying to figure out the best way to handle it.

Under Glide 0.8.3 there are no errors. But `google.golang.org/cloud` is set to `f20d6dcccb44ed49de45ae3703312cb46e627db1` and it has an import of `google.golang.org/api/container/v1beta1`. Glide 0.8.3 checkout out `google.golang.org/api` as master where this package doesn't exist. So, it's not catching the problem even t

[2016-01-27 14:25] mattfarina commented on #229
For now I wanted to replicate the 0.8.3 setup. In other package managers, such as composer for PHP, it installs the packages whether is needs to figure them out first or already has an existing lock file so it doesn't need to do that work.

[2016-01-27 14:32] #229 closed

[2016-01-27 21:44] dmitris commented on #229
thanks for the quick fix and response!

[2016-01-28 04:28] hectorj commented on #231
I wasn't sure if it was a bug in the old version or the new one, thanks for the investigation. It should indeed be fixed when issue #166 is resolved.

Temporary fix in case someone has the exact same issue : add
[code]
to your glide.yaml

Closing.

[2016-01-28 04:28] #231 closed

[2016-01-28 11:03] zh-lab opened #232 "Vendor package which has vendor and Godeps directories under package root."
When I try to vendor testify package, I found that glide tries to import configuration from Godeps.
[code]
But in fact, testify already has a vendor directory.

It seems that glide does not handle this situation or just my misunderstanding?https://github.com/Masterminds/glide/blob/master/importer/importer.go#L36

And, is there possible to provide a cleanup command or flag to remove directory such

[2016-01-28 15:35] mattfarina commented on #232
@zh-lab Good questions.

1. Glide will import packages but does not alter the contents of a repo it imports. Right now Glide pulls down VCS repos. If the contents of them are altered it makes the repo dirty and difficult to switch versions.
2. Libraries, that is non-main applications, really should not have a `vendor/` folder unless there is a specific known reason. There are a couple reasons for

[2016-01-28 15:49] zh-lab commented on #232
@mattfarina
Package like testify has its own vendor. If we do not want to use testify's vendor content, we should delete its vendor. But this make the repo dirty. What should we do for this case?:flushed:

[2016-01-28 15:56] arvenil commented on #219
There is a big issue with detecting `vendor` directory by golang I run into multiple times. Usually my project is in a directory like `~/projects/awesomeproject` and under `$GOPATH/src/github.com/arvenil/` I've always had simlink pointing out to `~/projects/awesomeproject`. This worked well but doesn't work with the `vendor` directory.

If I `cd` to `~/projects/awesomeproject` it doesn't work and

[2016-01-28 16:37] mattfarina commented on #219
As a general rule, the `go` tool requires your code to be in the `GOPATH`. Some things don't work right when outside that or symlinked in.

Personally, I find this rather frustrating.

[2016-01-28 16:39] #195 closed

[2016-01-28 16:44] arvenil commented on #219
Yes, I understand that, but having a simlink always worked for me in the past... however not with vendor dir, and the worst thing is you are in the project dir, you can see `vendor` dir with `ls` yet go tools don't pick it up and you have no idea why. Really bad user experience :) Anyway now I know I need to `cd $GOPATH/src/github.com/vendor/project`, so I'm fine :)

[2016-01-28 18:31] mattfarina commented on #219
Is this happening in the `go` tool specifically? If so you might want to file an issue with Go.

[2016-01-29 14:18] mattfarina commented on #217
I think I found what's going on. There are two files with slightly differing formats. In the `glide.yaml` file it's `import` and `devImport`. In the `glide.lock` file it's `imports` and `devImports`.

Since the lock file shouldn't usually be manually altered (it's being rewritten by Glide each time `glide up` it run) this should be ok. It's not perfect but it should be ok.

[2016-01-29 14:18] #217 closed

[2016-01-29 14:21] mattfarina commented on #221
Since this is fixed in Masterminds/vcs it will be fixed on `master` here and in the next release. If there is still an issues please re-open.

[2016-01-29 14:21] #221 closed

[2016-01-29 14:23] mattfarina commented on #181
This is closed with the merger of #222.

[2016-01-29 14:23] #181 closed

[2016-01-29 14:26] mattfarina commented on #197
Instead of an error this is now a warning. So, it doesn't stop you but it helps you identify if something is out of date. I'm happy with that.

[2016-01-29 14:26] #197 closed

[2016-01-29 15:07] #147 closed

[2016-01-29 15:24] sdboyer commented on #197
I still think this is a mistake, but I'm almost done writing the article in which I lay out the broader case, so I'll let it rest until then.

[2016-01-29 15:55] mattfarina commented on #197
What do you think should happen and why?

[2016-01-29 16:01] sdboyer commented on #197
there's no change in [my view](https://github.com/Masterminds/glide/issues/197#issuecomment-167874728) on what should happen.

the 'why' is in the article, which is gonna *have to* be completed in the next 36 hrs.

[2016-01-29 21:34] colemickens opened #235 "Glide on Windows writes the lock file with incorrect slashes"
Deduplication and identification of included packages seems to be affected as well.

Here's the diff of what glide did when running `glide up` on windows:

[code]

Note that go-autorest is re-added to the lock file, even though it's already there.

Here's the diff it should have created: (this was generated from `glide up` on a Linux box)
[code]

[2016-01-31 01:22] yeka opened #236 "Snapshot packages version to glide.lock without updating"
When starting a new project, I usually use whatever is already there in my GOPATH.
Is there a way to snapshot all my current dependencies/packages and create glide.lock without upadating it?

I have two issues for using `glide update`:
1. It will fetch all packages and update it with the newest version. Sometimes I just want to use the existing version.
2. Fetching all packages could take forever

[2016-02-01 14:45] mattfarina commented on #236
You've identified a bug and asked for an enhancement at the same time.

The bug is the `--use-gopath` isn't working. This likely happened in the recent refactor.

The feature request is to be able to snapshot the current tree, without updating, into a lockfile.

[2016-02-01 15:07] mattfarina commented on #236
Upon further examination it's actually copying from the `GOPATH` but performing an update after it does this. So, there isn't a bug. I added some better messaging to make it clear when it's copying from the `GOPATH`. There is more detail when using the global `--debug` flag.

When it comes to getting a snapshot of the current tree we're looking at bringing back a command to do that.

Note, Glide i

[2016-02-01 15:08] mattfarina commented on #235
Thanks for providing this bug. I know what's going on. Working with the filesystem in a cross platform manner can cause bugs like this to pop up. I'll fix it shortly.

[2016-02-01 15:38] mattfarina commented on #235
@colemickens Can you check the latest on master. I think I fixed this.

[2016-02-01 17:00] #228 closed

[2016-02-01 21:58] colemickens commented on #235
@garimakhulbe Can you try this on your Windows machine and report back the diff between glide.lock before and after running `glide up` ?

[2016-02-01 23:30] garimakhulbe commented on #235
Below is the glide up output with glide.lock diff.

![image](https://cloud.githubusercontent.com/assets/9362976/12734915/79d2f718-c8f8-11e5-9ab3-f769054b0697.png)

![image](https://cloud.githubusercontent.com/assets/9362976/12734929/97d1904e-c8f8-11e5-9ab8-3cf660cf7b37.png)

[2016-02-01 23:57] colemickens commented on #235
@mattfarina We confirmed that we were on the very latest of glide when that was generated. It seems to not be resolved.

[2016-02-02 14:29] mattfarina commented on #235
Thanks for your patience. I'm now setup to work on this in my Windows environment and I'll test it against the Azure SDK for Go.

[2016-02-02 16:41] mattfarina commented on #235
@colemickens @garimakhulbe can you take a look at the latest on master. I have it working in my Windows environment now.

[2016-02-02 18:52] colemickens commented on #235
CC @boumenot

[2016-02-02 19:27] garimakhulbe commented on #235
After fetching the latest glide repo.

![image](https://cloud.githubusercontent.com/assets/9362976/12761346/7752c322-c99f-11e5-9317-44574ec67dbd.png)

[2016-02-03 04:25] technosophos opened #238 "On feat/resolve-imports, cross-compiled dependencies missing"
On the feature branch `feat/resolve-imports`, there is an issue when cross-compiling for repos that reference GOARCH/GOOS-specific packages.

Here's output of cross-compiling https://github.com/deis/etcd on Mac for Linux:

[code]

A few packages were not ever fetched because they are referenced only from `+linux` files. When Glide runs its imports scan, it runs it only for the present architecture

[2016-02-03 04:43] technosophos commented on #238
Well... turns out Glide is smarter than I thought. This makes everything shiny and happy:

[code]

Is there any reason to add `glide --os=linux up` or anything like that? If not, we can just close this.

[2016-02-03 05:25] hyper-carrot opened #239 "Oops! Command glide-build does not exist."
Hi,

I created a project and created glide.yaml by `glide init`, but I got an error when I build use `glide build`:
[code]

Who can explain?

btw: I installed glide vie `brew install glide`.

[2016-02-03 13:51] mattfarina commented on #239
@hyper-carrot Glide does not have a build command. What are you trying to do?

Glide manages dependencies. You use the `go` tool to build, run, or otherwise work with your code. Glide complements that.

I recently wrote up a [getting started guide](http://glide.readthedocs.org/en/latest/getting-started/) that might help.

[2016-02-03 18:23] rubenhazelaar commented on #161
To give some closure to this: I downloaded the new 0.8.3 version from the releases page and it works as expected :)

[2016-02-03 18:23] #161 closed

[2016-02-03 21:56] colemickens commented on #235
@mattfarina It looks like there might be one remaining issue, since it's trying to add the unused subpackages in Windows still.

[2016-02-04 09:24] hyper-carrot commented on #239
@mattfarina OK, I see. I wanted to build the project code like `gb build`.I solved it by using `go build`. Thank you.

[2016-02-04 09:24] #239 closed

[2016-02-04 12:53] MathieuDoyon commented on #221
@cyrilleverrier use `gopkg.in/mgo.v2` instead for now

[2016-02-04 15:55] mattfarina commented on #207
This has been worked on by @technosophos and we'll be merging it in soon. See #240.

[2016-02-04 15:57] mattfarina commented on #164
With the merge of #240, which will be happening soon, Glide can walk just the imports being used and include those rather than walking the whole possible tree.

[2016-02-04 17:00] mattfarina commented on #235
@colemickens I'll take a look at that.

[2016-02-04 17:57] mattfarina commented on #207
Glide, on master right now, only walks the import tree being used and imports the needed packages. There is a flag to get all things if that is still desired. With that I'm going to close this issue. If there is a problem with the new functionality please let us know.

[2016-02-04 17:57] #207 closed

[2016-02-04 17:59] mattfarina commented on #164
One master Glide only walks the packages used by a project instead of all the packages possible. Does that fix the problem?

[2016-02-04 18:20] mattfarina commented on #170
I ran some numbers for comparison between master and 0.8.3

Project | 0.8.3 | master
------------ | ------------- | -------------
[go-boilerplate](https://github.com/rightscale/go-boilerplate) | 10.607s | 3.092s
[rsc](https://github.com/rightscale/rsc) | 24.780s | 7.025s

Since rsc is managed by Godep I used `glide init` to generate a `glide.yaml` file.

We've sped up Glide a fair amount so I'm go

[2016-02-04 18:20] #170 closed

[2016-02-04 23:48] rubenhazelaar opened #241 "Glide get takes 20 minutes"
Hi, running on the following:

windows 8.1
go 1.5.2
glide 0.8.3

glide get takes like 20 minutes, is this normal behavior? My internet connection is kinda slow, but 20 minutes seems like a lot. Please me know what I can do to help :)

[2016-02-05 14:16] mattfarina commented on #241
@rubenhazelaar 20 minutes is unusual. Even on projects with hundreds of dependencies I don't usually see that. A few things.

1. Can you share your `glide.yaml` file? There may be some dependencies that are causing the long time.
2. You noted your internet connection. How fast is it (relatively speaking)?
3. Glide on the tip of master, which will soon be released as 0.9.0, has been measured to tak

[2016-02-05 15:07] rubenhazelaar commented on #241
1. My glide.yaml:
[code]

2. 1.6Mbps, with pings ranging from 80 - 400ms (on a good day)
3. Great will try it, or should I be patient and wait for the release?

I also have the output output of go get:

[code]

It seems that also `glide install` seems to having issues with speed, BTW. Hope this helps.

[2016-02-05 15:46] mattfarina commented on #235
The latest on master is not venerating the right subpackages for me. Can you try again.

[2016-02-05 19:08] arschles opened #242 "glide up shows "No subpackages declared. Skipping ...", even when there are subpackages"
My glide.yaml:

[code]

Abbreviated output from `glide up` (notice the `subpackages` declared above on the erroneus package listed below):

[code]

Found on a `glide` binary built from https://github.com/Masterminds/glide/commit/91f83358eecdff6abe35d49baf755c5576661a2a

[2016-02-05 23:05] mattfarina commented on #242
@arschles that doesn't mean what it appears to mean. It has to do with directories passed in with no go source files but were already cloned and looking for imports to follow.

The latest on master no longer has this message.

[2016-02-05 23:05] #242 closed

[2016-02-06 23:35] colemickens commented on #235
@mattfarina Sorry, I don't follow, are you saying there's a problem with `azure-sdk-for-go` master?

[2016-02-08 07:06] bsideup opened #243 "`glide tree` - infinite recursion"
Hi!

We have a dependency on aws-sdk-go, and somehow it's being shown as recursive. When we run `glide tree` it never stops.

You can easily reproduce it yourself:
https://github.com/zeroturnaround/configo

[2016-02-08 14:06] mattfarina commented on #235
@colemickens Well, that typo of mine messes with the meaning. Sorry about that. The latest on master is **_now generating_** the right subpackages for me. Can you please try again?

[2016-02-08 14:10] mattfarina commented on #243
@bsideup I've tested and I see the issue on master. Thanks for the report.

What are you using `glide tree` for? We'd discussed dropping it and I'm looking for uses of it. I'll fix this issue before the next release which will happen soon.

[2016-02-08 14:13] bsideup commented on #243
@mattfarina I'm trying to figure out where my transitive dependency is coming from, and `glide tree` is a great tool for it.

Also, I was using `glide tree` to debug Glide :D for some reason I see a dependency on docker but my dependencies don't include it. Looks like it comes from some dependency's test, but I can't figure out which one and why.

Thanks!

[2016-02-08 17:45] mattfarina commented on #243
@bsideup what version of Glide are you using (`glide --version`) and how did you get Glide?

The tip of master now only walks the dependency tree in use rather than all branches to minimize the dependencies fetched. Are you on the latest master code?

[2016-02-08 23:01] colemickens commented on #235
@garimakhulbe Can you give it a shot again? I still don't have a Windows machine setup with the relevant stuff.

[2016-02-08 23:30] garimakhulbe commented on #235
![image](https://cloud.githubusercontent.com/assets/9362976/12902914/d8bc1982-ce78-11e5-96f7-172a197a59d4.png)

Ran with all latest.

[2016-02-08 23:32] colemickens commented on #235
I still see two issues:

* To my knowledge, `rc2` is still being improperly added. `azure-sdk-for-go` does not directly use the `rc2` package. (Actually, I think even the references to pkcs12 have been removed, I should remove it entirely)

* `/autorest` and `autorest` are being treated as different subpackages.

[2016-02-09 10:04] bsideup commented on #243
@mattfarina "go get ...", latest from master

[2016-02-09 16:24] stroborobo opened #244 "subpackage recognised as independent package?"
Hi,

I'm using glide for the first time today, so maybe I just misunderstood something, but here's the problem:

After `glide create`, fixing(?) a private repo entry, and `glide install` the latter always outputs warnings that it's "Unable to checkout" a (sub)package. Glide however did put the package into the vendor dir, just as the other subpackages of the same repo (that didn't get a warning).

[2016-02-09 17:36] arschles commented on #242
@mattfarina great, thanks!

[2016-02-10 03:19] mattfarina commented on #235
This latest commit should fix the issue where the same package is present with and without the leading /.

The `pkcs12` package imports the `pkcs12/internal/rc2` package which is why it shows up in the lock file. It's imported in the `pkcs12/crypto.go` file. This is the complete tree of referenced packages which is why it's present in the lock.

Is there anything else here that needs fixing?

[2016-02-10 03:32] technosophos opened #245 "Glide appears to be hanging"
I sat watching Glide output nothing for 2-3 minutes. It spit out all of this and then appears to have hung:

[code]

What it's actually doing is fetching all of those packages in parallel. We need to display something to tell the user that waiting is normal here.

[2016-02-10 03:35] technosophos commented on #243
Testing reproducing this. I am using head, and ran `glide init` followed by `glide tree`. Here's the first 250 lines:

[code]

glide --version
glide version 0.8.1-128-g6aaecf2

[2016-02-10 04:25] mattfarina commented on #245
@technosophos There used to be a - in front of the fetching which worked for `glide install` but looked funny when `glide up` was scanning and fetching in the tree.

Would putting `=>` in front of `Fetching` help?

[2016-02-10 04:27] technosophos commented on #241
Wait! I'm wrong! It's not a loop. It's just that the AWS package has an insane amount of import statements.

[code]

[2016-02-10 04:30] technosophos commented on #244
We're checking into this. Out of curiosity, does everything still build okay?

[2016-02-10 04:31] #238 closed

[2016-02-10 04:31] technosophos commented on #225
@mattfarina can I close this now that we have this feature merged onto `master`?

[2016-02-10 04:33] technosophos commented on #213
@mattfarina  Can we close now that the solution to #1 and #3 are merged onto master?

@arvenil If you feel like re-testing off of master, we'd appreciate any input. This new version should be much better at selectively importing what is necessary, not blindly importing everything.

[2016-02-10 04:35] technosophos commented on #214
@mattfarina  Is this fixed now? I know we changed GOPATH handling in a few places before merging the no-cookoo branch.

[2016-02-10 04:39] technosophos commented on #211
We could do this a few ways:

1. We could require the user to specify a target directory
2. We could walk backwards up the directory structure until we hit a `glide.yaml` file
3. We could parse PWD and try to figure out where we are in relation to GOPATH

I suspect that (1) is too cumbersome for the user (but might be a nice additional option)

While (3) seems easy, it's actually a huge pain becau

[2016-02-10 04:40] technosophos commented on #209
Can we close this issue out?

[2016-02-10 04:42] technosophos commented on #208
Is this done with the new `glide rm` command? Can we close this?

[2016-02-10 04:44] technosophos commented on #193
It does now! Yay! I think we can close this out.

[2016-02-10 04:45] technosophos commented on #184
What's the status on this one?

[2016-02-10 04:49] technosophos commented on #215
Yeah, that looks like a bug in the way it's building the URL to resolve during rebuild. I'll look into it.

Out of curiosity, are you seeing much in the way of performance improvements with `rebuild`? It was really optimized for Go 1.3-1.4, and doesn't seem to have as much of an impact with 1.5 because of the way it does vendoring. I haven't yet retested on 1.6-RC. I'd like to find out whether peo

[2016-02-10 04:50] technosophos commented on #218
I think this is all done now.

[2016-02-10 04:50] #218 closed

[2016-02-10 04:51] technosophos commented on #219
Is there anything left here that Glide needs to resolve?

[2016-02-10 05:01] technosophos opened #246 "Proposal: Replace `glide tree` with `glide find`"
The primary use case for `glide tree` is to find the import path(s) for a specific package. But the problem is that it is tremendously verbose, and probably is not that great.

So I have a two-part proposal:

## Add a New `glide find` Command

The idea would be to run something like `glide find k8s.io/kubernetes/pkg/api` and have it return back a tree like this:

[code]

This seems much more usefu

[2016-02-10 05:03] technosophos opened #247 "Proposal: Add timer information"
It would be really, really useful to be able to determine what parts of glide are consuming the most time.

Could we add code to time VCS functions vs. scanning functions? Then if we added a `--metrics` or `--time` flag, we could print out the data.

[2016-02-10 05:04] garimakhulbe commented on #235
![image](https://cloud.githubusercontent.com/assets/9362976/12938929/a3451a1e-cf6e-11e5-93fe-91764bfa04f2.png)

LGTM. @colemickens, please confirm.

[2016-02-10 05:09] colemickens commented on #235
I'm just not sure why rc2 was only added in Windows. Transitive
dependencies are normally shown in the lock file, not the yaml file, in my
experience.
On Feb 9, 2016 11:04 PM, "Garima Khulbe" <notifications@github.com> wrote:

[2016-02-10 05:11] colemickens commented on #235
Maybe the exception is when the transitive dependency is a subpackage or
from the same repo? But it doesn't get added in Linux (that was about two
weeks ago though).
On Feb 9, 2016 11:09 PM, "Cole Mickens" <cole.mickens@gmail.com> wrote:

[2016-02-10 06:02] #209 closed

[2016-02-10 08:00] colemickens commented on #184
I'm not really sure. I abandoned trying to vendor Kubernetes, didn't save a repro and didn't post the glide.yaml when I made the bug. Bad bug reporting on my part. I'll close this and reopen with more information if I run into it again.

[2016-02-10 08:00] #184 closed

[2016-02-10 08:03] colemickens commented on #215
RE performance: for the Go versions, are you referring to the changes to Go that have changed it's compile speed? If so, I can't say that I've ever noticed a difference, even when using `glide rebuild`, but the projects that I'm using Glide with generally have a relatively small number of packages and I only rebuild when I suspect it will help `vim-go` figure out my completions.

As for this bug..

[2016-02-10 08:03] colemickens commented on #235
We can safely ignore my first comment from a few hours ago since we are in fact looking at the lock file in the diff.

I updated `glide` on my Linux box. It is now producing the same diff as what @garimakhulbe has shown above.

However, `rc2` has always been required by `pkcs12`... so it looks like we were actually seeing another bug here that has been fixed in the last few weeks. Does that sound

[2016-02-10 09:16] stroborobo commented on #244
Yes, looks fine after `glide install`, just tested it with an empty GOPATH dir just to make sure.

[2016-02-10 12:47] mattfarina commented on #243
@bsideup `glide tree` traces the import tree not the file system tree. You can end up with many paths that are the same or similar. Glide does detect recursion (which you can see near the bottom of the previous comment).

I say that because @technosophos let `glide tree` run for awhile and it finished. The import tree produced an output that's 224324 lines long. This is one massive tree when all t

[2016-02-10 14:11] mattfarina commented on #235
I think we can close this one, then. If there are more issues please let us know.

[2016-02-10 14:11] #235 closed

[2016-02-10 14:16] mattfarina commented on #244
@stroborobo what version of Glide are you using (`glide --version`) and how did you get Glide?

[2016-02-10 14:17] stroborobo commented on #244
Latest release: glide version 0.8.3

[2016-02-10 14:17] stroborobo commented on #244
Oh, via brew :)

[2016-02-10 14:23] arvenil commented on #213
Wow, indeed it works better, fetches way less dependencies. 31 vs 51. Good job guys!

I still however have this remaining question for 1.
The [how it works](https://github.com/Masterminds/glide#how-it-works) section states:

but
1. [github.com/aws/aws-sdk-go](https://github.com/aws/aws-sdk-go) has `vendor` directory and now I'm not sure if the new version works like the doc says, so  `github.com/a

[2016-02-10 14:28] mattfarina commented on #241
@rubenhazelaar What version of Glide are you using (`glide --version`) and how did you install Glide?

@technosophos A lot of the tree is duplication which is caught in the resolver and skipped while `glide tree` has to walk it to display it all.

I use ran `glide up` with the initial `glide.yaml` file using the tip of master. I got...

[code]

It ran is just under 11 seconds.

Does the tip of mas

[2016-02-10 14:42] mattfarina commented on #215
Two things.

1. `glide rebuild` was used for prior to the vendor experiment. Everyone should use `go install` instead.
2. The issue here is an error inside the resolver. The following is stuck in a loop:

[code]

So, we have a bug. Thanks for finding this.

[2016-02-10 14:51] mattfarina commented on #215
To add some more detail...

* `code.google.com/p/go-uuid` is aliased to `github.com/pborman/uuid`
* The package `code.google.com/p/go-uuid/uuid` is being imported (notice the subdirectory). The `uuid` directory doesn't exist in `github.com/pborman/uuid`.

[2016-02-10 15:04] arvenil commented on #213
I also found out one inconsistency with fetching dependencies that is related to my questions.
I think code is the simplest way to explain this :)

 `glide get github.com/aws/aws-sdk-go` fetches only one dep... so it looks like it cares about `vendor` dir and doesn't scan it for dependencies?

[code]

Now I'm trying to fetch dependency (`github.com/uniplaces/osin-dynamodb`) that depends on `github

[2016-02-10 15:10] arvenil commented on #213
I also wonder if there is a way to ignore `vendor/.../vendor/` dirs to avoid some complications with including several times the same library... I know I could just `rm -rf` all vendor dirs under root `vendor` dir... but maybe glide provides some functionality to do that.

(beside, that, let me state this... first package manager for golang that actually works for me... great job)

[2016-02-10 15:30] #215 closed

[2016-02-10 15:33] mattfarina commented on #215
Glide now catches this recursion and reports the underlying error.

I also added a new deprecating rebuild with a note to use go install instead.

If there is still an issue please let us know.

@colemickens thanks for all the great feedback.

[2016-02-10 16:32] technosophos commented on #173
I'm not sure syncing between GOPATH and `vendor` is something that I'd want to bite off as a supported feature. Maybe a plugin for that would be an option.

We've got some logic to grab things out of GOPATH into vendor (using --cache-gopath). We also just re-did the import scanning, so it should be much faster (and pull far fewer dependencies).

I don't think we should close this issue, since ther

[2016-02-10 16:35] technosophos commented on #176
We were basically convinced by this issue and a few others that we should change our approach on dependency resolution. In Glide 0.9, we now _only_ fetch packages that are required to build. (Basically, we switched from tree scanning to import scanning).

Thanks for convincing us.

Does that solve this issue, @LK4D4 and @dnephin?

[2016-02-10 16:39] technosophos commented on #215
Just to wind this down... the point of `glide rebuild` was to build `.a` files in $GOPATH/pkg`, which used to substantially speed up things like editor support, build times, and test runs. Once the vendor experiment was introduced, the speed advantage pretty much disappeared.

If enough people use this feature, I'd like to take another shot at improving this. Otherwise, I think we should deprecate

[2016-02-10 16:42] technosophos commented on #243
I have been totally replying to this on the wrong issue. #241

The short version is that I verified after a LOOOONG run that it's not infinite recursion... just a whole lot of imports. If you have a moment @bsideup, can you take a look at this proposal and see if it meets your needs better? #246

[2016-02-10 16:47] dnephin commented on #176
Sounds like it, thanks!

[2016-02-10 16:47] #176 closed

[2016-02-10 17:17] LK4D4 commented on #176
@technosophos Thanks!

[2016-02-10 17:35] bsideup commented on #243
@technosophos yes, `glide find` sounds good :)

[2016-02-10 18:33] arschles commented on #218
thanks @technosophos

[2016-02-10 20:58] mattfarina commented on #244
@stroborobo can you try Glide 0.9.0 RC1? It's available at https://github.com/Masterminds/glide/releases/tag/0.9.0-rc1.

The section of code that does this work was rewritten between 0.8.3 and the release candidate. It may already be fixed.

[2016-02-10 23:18] mhoglan opened #249 "Do not implicitly "Resolving imports" of the workspace"
This on master glide version 0.9.0-rc1

This seems to occur on both `glide get` and `glide update`

This may be a misunderstanding or a better way to use the tool, feel free to educate me :)

Why when I perform a `glide get <package>` is there anything more being done than just retrieving the package and the package dependencies?

Why when I perform a `glide update` is there anything more being do

[2016-02-11 01:17] douglaswth commented on #206
I'm running into this issue trying to run Glide under Cygwin.

[2016-02-11 01:50] mattfarina commented on #249
@mhoglan There are a few things going on here.

Are you familiar with package management in other languages? Such as Rust, Java, PHP, Python, JavaScript, Perl, or others. Glide is modeled after the best and successful practices from these so I'm curious of your foundation in them.

* `glide create` isn't just guessing. It's inspecting the imports in the local project. It also reads information fro

[2016-02-11 04:17] mhoglan commented on #249
I am pretty familiar with packaging systems across different languages and systems.  That is where some of the friction with my usage was coming from.   Lets use `pip` as an example.  If I do a `pip install <package>` it installs that package and its dependencies into my `site-packages`, it does not go through my source code of my workspace and process its dependencies in conjunction.

Going to us

[2016-02-11 06:50] akutz commented on #245
I think so, but mine still appears to be hanging locally as well. I'm working with large projects with large dependencies. Either much better feedback is needed or there needs to be a way to disable parallel fetching as well as simply better communication while getting a single package. As I said, I can no longer get deps with Glide locally. It always times out or errors.

[2016-02-11 06:53] akutz commented on #245
For an example try cloning this project (https://github.com/emccode/rexray) and running `glide up` on it locally.See if that ever completes for you.

[2016-02-11 07:03] akutz commented on #245
Here's my local run via Make:

[code]

[2016-02-11 07:53] stroborobo commented on #244
Tried it, didn't fix the problem unfortunately, but the output changed:

[code]

I quadro-checked the repo path and import path now, definitely no typo.

This is what the yamcha repo looks like, if that helps:

[code]

(The Makefile is only for putting godoc into the readmes, so no fancy building mechanism.)

[2016-02-11 14:31] mattfarina commented on #193
@technosophos should it update the `glide.yaml` with the additions and warn of any unused in the `glide.yaml`?

[2016-02-11 14:33] mattfarina commented on #184
@colemickens we're aware of issues working with k8s. [Helm](github.com/helm/helm) has kubernetes as an import and on occasion I do an import, add a few aliases to the glide.yaml file generated, and test Glide on k8s. It's the aliases that fix the issues I'm aware of.

[2016-02-11 14:34] mattfarina commented on #206
@douglaswth what version of Glide are you running (`glide --version`)?

[2016-02-11 14:58] mattfarina commented on #245
@akutz A few things

1. The errors were caused by a recent bug I wrote. Sorry about that. I fixed it in a349665. There was a spot the `NotFound` handler, that fetches the code, was failing to run.
2. I ran a couple tests on time with rexray. Do you see numbers like this?
    * When there is no `vendor/` directory 1min 34s to complete a Glide run.
    * With a populated `vendor/` directory it took

[2016-02-11 15:17] mattfarina commented on #244
@stroborobo I _think_ I've figured out the problem.

Glide follows the same path conventions Go itself does when looking at remote packages and the repos they live in. Go expects patterns like `src.ybit.eu/ybit/yamcha.git/helpers`. Notice the `.git` in there. In Go you can trace that back to a [regular expression used inside `go get`](https://github.com/golang/go/blob/53b66616736480152969fe1749f62

[2016-02-11 15:31] mattfarina commented on #213
@arvenil I can try to answer your questions here. And, there may be room for optimization in Glide.

First, Glide complements the `go` tool. So, building binaries and so forth are handled there. This is important because any ignoring of `vendor/.../vendor/` to build a binary has to happen in the `go` tool. Glide can't affect that.

It's generally considered a bad practice for a library to have pac

[2016-02-11 15:44] james-lawrence opened #250 "glide exits with status code 0 when it fails to fetch dependency."
[code]

[2016-02-11 15:50] mattfarina commented on #213
@arvenil I can explain what's happening now.

1. When `glide get` downloads a package it inspects that packages and fetches it's dependencies. The root of `github.com/aws/aws-sdk-go` has no sub-packages to fetch so it doesn't. If you had should code that used it in your application it would walk the used imports and fetch more.
2. When `glide up` is run to update it looks at the import path used i

[2016-02-11 16:11] technosophos commented on #250
Warnings to not result in an error code.

Was that really the last line of output from Glide?

[2016-02-11 16:28] technosophos commented on #249
First, this may help you understand one thing about Glide: Any glide operation from `glide create` onward should leave your environment in a buildable state, and should leave your glide.lock file accurate. To make it otherwise would be poor design. Users would quickly become frustrated.

The resolution logic for `glide get` updates other packages so that the version analysis and pinning can be don

[2016-02-11 16:30] technosophos commented on #245
I'll PR in the progress bar I wrote, which does not alter performance beyond starting a goroutine and sending messages over a channel.

[2016-02-11 16:30] #243 closed

[2016-02-11 16:34] technosophos commented on #236
@mattfarina can you add a ticket for a `pin` command. I'm not sure what you are thinking it would do, other than simply generating a lock file based on the current local state.

[2016-02-11 16:42] technosophos commented on #232
1. We will not do anything to computationally alter a package. It's a mess. We then have to do all kinds of VCS-specific operations, many of which are error prone.
2. However, unless a project imports the `vendor/` path explicitly (like etcd does), we have to treat it like a global dependency in order to allow other packages to interoperate. (@mattfarina has an example of this problem somewhere)
3

[2016-02-11 16:42] #232 closed

[2016-02-11 16:43] #225 closed

[2016-02-11 16:44] technosophos commented on #208
I believe this is exactly how `glide rm` works in the new 0.9 release. Marking this closed. Feel free to re-open if I misunderstood.

[2016-02-11 16:44] #208 closed

[2016-02-11 16:48] technosophos commented on #193
We should open a new issue for warning on unused dependencies. I need to test how it actually treats discovered dependencies. I might have backed out the change that allowed that, because we talked about it being dangerous to include directly imported packages that were not explicitly set.

[2016-02-11 17:02] james-lawrence commented on #250
no it wasn't the last line sorry but the fact a dependency can't be fetched should be an error.

[2016-02-11 17:04] akutz commented on #245
Hi @mattfarina,

The patch fixed the issue, thank you!

[2016-02-11 20:31] mhoglan commented on #249
Probably is more of a philosophical or design decision discussion.   I understand and follow the points you made, and the implementation choices based on those.   There is a desire to keep everything in a consistent buildable state.  I wouldn't call it a poor or good design choice, it is a goal, and one of convenience.

Some thoughts.  Not advocating a certain viewpoint, but asking to raise though

[2016-02-11 22:32] mattfarina commented on #250
@james-lawrence you're right. That should be an error instead of a warning. We'll get that fixed prior releasing.

[2016-02-11 23:15] douglaswth commented on #206
I am seeing it with 0.8.3 and I also tried 0.9.0-rc1 with the same problem.

[2016-02-11 23:31] mattfarina commented on #206
Ah, yes. we fixed on issue inside the vcs package but the issue of relative vs absolute paths is something we'd not worked on yet.

[2016-02-12 00:29] rubenhazelaar commented on #241
I'm in the process of installing a new depedency with `glide get`, however it still takes a long time (in for over 15 minutes now). Previously I used 0.8.3 and now am on dev, installed with `go get github.com/Masterminds/glide`. My internet connection is not fast and kind of unstable. Is there perhaps some debug flag I can use? Slowness seems to occur with all commands (get, install), haven't trie

[2016-02-12 01:42] colemickens opened #252 "feature request: `glide up` takes an argument and only updates that package"
So, for example, `glide up github.com/Azure/go-autorest` would update the `go-autorest` dependency, without upgrading everything else in the `glide.yaml` file.

[2016-02-12 09:00] stroborobo commented on #244
Now that you're saying that I've never `go get`'ed one of our private repos before, that really doesn't work: unrecognized import path "src.ybit.eu/ybit/seoshop/cmd/seoshop". Adding the ".git" after "yamcha" makes it fail complaining about an "insecure protocol", but it works when I [enforce SSH like this][gitssh]:

[code]

So I changed the `package` to `src.ybit.eu/ybit/yamcha.git`, leaving the s

[2016-02-12 18:39] atombender opened #253 "Symlinked project directory treated as external dependency"
Here's how I organize projects:

* `GOPATH` is set to `~/.go`
* My project lives in `~/Projects/myproject` (or wherever)

Then:

    mkdir -p ~/.go/src/github.com/atombender
    ln -s ~/Projects/myproject ~/.go/src/github.com/atombender/

I do this because Go presumes to take over my private project structure, which I find obnoxious. (If there is a better way, please correct me.)

This means I can

[2016-02-13 14:40] james-lawrence opened #254 "glide get should support specifying a commit/tag/branch at the CLI."
if it doesn't already, didn't see any hints in --help or the readme.

[2016-02-13 23:20] chancez opened #255 "glide list prints "[WARN] Package %s found in vendor/ folder format error""
Looks like a missing argument to a Printf style function in `glide list`
[code]

[2016-02-13 23:23] chancez opened #256 "Add --porcelain to glide list"
It would be good to have something similar to `git status --porcelain` to `glide list` so the command can be used more programatically. My use case is to use the output of glide list to remove any packages not directly imported by my project from the vendor directory so when im vendoring I can have a more minimal vendor dir.

The current issue is all the warnings and extra text that aren't go pack

[2016-02-13 23:56] chancez commented on #256
This might deserve a new issue, but it would also be good if `glide list` had a flag so it could also inspect my project's test files imports, and include those in the list.

[2016-02-14 04:54] pbennett commented on #255
Seeing same (w/ 0.9.0-rc1)

[2016-02-14 08:58] jrsanz1 opened #257 "create command doesn't yield yaml with subpackages if base folder of project structure is not named github.com"

[2016-02-14 08:59] jrsanz1 commented on #257
- $GOPATH/src/myProject (Your project)
  |
  |-- glide.yaml
  |
  |-- glide.lock
  |
  |-- main.go (Your main go code can live here)
  |
  |-- mySubpackage (You can create your own subpackages, too)
  |    |
  |    |-- foo.go
  |
  |-- vendor
       |-- github.com
            |
            |-- Masterminds
                  |
                  |-- ... etc.

[2016-02-14 08:59] #257 closed

[2016-02-14 09:38] jrsanz1 opened #258 "'create' command does not yield sub-packages in yaml field if root directory is not 'github.com'"
Executing 'glide create' on this project structure:
**$GOPATH/src/test.com/test/goo
|-- main.go
|
|-- foo
|    |
|    |-- foo.go
|**

creates a yaml file with content:
**package: test.com/goo
import:
-package: test.com/goo/foo**

renaming 'test.com' to 'github.com' on project structure and imports in go files yields yaml file with content:
**package: github.com/test/goo
import:
-package: github.co

[2016-02-14 13:31] james-lawrence commented on #255
try tip, I fixed one of those the other day.
https://github.com/Masterminds/glide/pull/251/files

[2016-02-14 13:41] james-lawrence opened #259 "glide init adds sub packages of top level package to imports"
[code]
[code]
then it complains about these sub packages not being in vendor....
it also attempts to fetch the top level package because its in the import set.

is there a reason for this? I thought it would ignore any packages root at the top level package.

[2016-02-14 20:04] jrsanz1 commented on #258
Had a chance to look at the code this morning. Looking at glide/utitl/util.go there's a set of regex for supported VCSs along with their hostnames. Easy fix for me is to hard-code my git repo hostname and regex pattern into this list.

Would be nice to dynamically define valid hostnames for glide to use thru a command and/or configuration file.

[2016-02-15 10:43] dmitris commented on #166
I believe it is now fixed (thanks @hectorj for the patch!) as mentioned in https://github.com/Masterminds/glide/releases/tag/0.9.0-rc1 Does anyone still see this being a problem?  I checked it with https://github.com/dmitris/deptest4glide (README has a description of the original problem) and it looks fine there; same with several of our projects I checked.  I believe we can close the issue now.

[2016-02-15 10:45] hectorj commented on #166
The merged fix is actually from @technosophos : #240

But yeah, this is fixed.

[2016-02-15 11:50] dmitris commented on #164
is there a documentation on the ignore property -  how it works and what exactly gets ignored?  I'm trying to make glide skip including an unnecessary dependency (dependency of a "root" package when only a small dependency-light subpackage is needed), the `glide update` does say: `[INFO] Ignoring: go.corp.sometld.com/org/repo` but that package is still being included in glide.lock and checked out

[2016-02-15 13:45] james-lawrence commented on #258
imo glide needs to actually support git (and other vcs) natively. this https crap causes too many issues.

[2016-02-15 15:37] mhoglan commented on #252
This is similar to what I was referring to in #249 ;  Ability to separate the processing of imports, whether from  `glide.yaml` or the project workspace.

There is an argument that could be made that if you version pinned things in a semantic versioning way, that it shouldn't matter if the latest of that version range was pulled in because it should be compatible.  That is idealistic though, and r

[2016-02-15 15:49] #250 closed

[2016-02-15 15:58] mattfarina commented on #254
@james-lawrence `glide get` already supports that. You can read about it in [the docs](http://glide.readthedocs.org/en/latest/getting-started/#adding-more-dependencies). I just added a link to the readme pointing to the docs. We're just getting started with them.

[2016-02-15 15:58] #254 closed

[2016-02-15 16:01] mattfarina commented on #256
@chancez I like the idea of making the output usable for other tools. I'm wondering if we should support a couple formats. Text by default but also a flag for json. Thoughts?

Note, we need to make sure the output goes to standard out, too.

[2016-02-15 17:16] mattfarina commented on #258
@jrsanz1 Glide supports the same patterns the `go` tool does for import paths including the naming for VCS related paths.

The `go` tool has a [lookup](https://github.com/golang/go/blob/387d5b8cfb085ed8d2a074586a0ee0e6e6cb9820/src/cmd/go/vcs.go#L817) that does special cases for GitHub, BitBucket, and some others. For others it [expects the root repo location to end in `.git`, `.hg`, etc](https://g

[2016-02-15 17:41] mattfarina commented on #255
@chancez @pbennett the warn you saw was fixed by @james-lawrence PR. I've also updated this to be info rather than a warning because that makes more sense. That change was in 8e813cf.

[2016-02-15 17:41] #255 closed

[2016-02-15 18:20] mattfarina commented on #253
@atombender I see what's going on.

First, the way the `GOPATH` forces structure can be incredibly annoying. There are a bunch of people unhappy about it. Some so much so that [GB](http://getgb.io/) came into existence.

The `go` tool forces a certain structure and that's built into the `go/build` package in the standard library which Glide uses. That package is what lets us do things like walk th

[2016-02-15 18:36] mhoglan commented on #258
@mattfarina that only occurs if the URL is HTTP based I believe.  Maybe that is the confusion?  I did notice on my usage that if I have a SSH style URL, I have to explictly specify `vcs: git` in my `glide.yaml`

Looking a the regex for GitHub for instance
[code]

That would need to be
[code]

Then you could have `git@github.com:Masterminds/glide.git` and the extension `.git` would be picked up.

[2016-02-15 18:39] atombender commented on #253
Thanks for the detailed explanation. Glad to hear that I'm not the only one.

I just discovered that I can cheat, for now, by using OS X hard links ([this tool](https://github.com/selkhateeb/hardlink) is necessary) to link my project under `$GOPATH`. On Linux you can accomplish the same thing with `mount --bind`.

The only problem is that invoking the `glide` command must be done with the current

[2016-02-15 19:10] jrsanz1 commented on #258
It does, thanks.

[2016-02-15 19:10] #258 closed

[2016-02-15 19:29] jrsanz1 commented on #259
I'm also seeing this but only on windows version: 0.9.0-rc1
On osx using version : 0.9.0-rc1-4-gd0a4453 the result is empty import.

`package: bitbucket.org/soandso/package
import: []`

[2016-02-15 21:02] mhoglan commented on #39
Could be good to also look at how this is handled on systems currently.   There are two ways I typically handle this:
* DNS redirection, whether that is through `/etc/hosts` on the machine or the DNS server it is utilizing
* local `.gitconfig` that performs `insteadOf` on the URL
 * this is also typically the way you make `go` use SSH always even if the URL is referencing https

e.g. `.gitconfig`

[2016-02-15 22:18] james-lawrence commented on #254
great sorry, for the spurious issue. =)

[2016-02-15 23:20] mattfarina commented on #254
@james-lawrence no problem. I realized the documentation for it wasn't all the visible because of the issue.

[2016-02-16 00:27] mattfarina commented on #259
Is the top level package, `bitbucket.org/soandso/package`, inside the `GOPATH` properly? Glide has a step that should detect the top level package being referenced and remove it if present.

What OS, version, and can you share the output of `go env`?

[2016-02-16 00:28] mattfarina commented on #253
@atombender when you hard link do all the Go tools work properly?

[2016-02-16 00:36] mattfarina commented on #252
@colemickens There are two steps to an update in Glide. There are the direct dependencies of the local codebase and then there are the dependencies of the dependencies to form the tree. When we update a direct dependency the dependency tree needs to be re-resolved for any changes. This makes updating just a single dependency difficult. Or rather, it means to make it simple isn't so simple.

We use

[2016-02-16 01:04] atombender commented on #253
Looks like it. But again, you need to be _in_ the `$GOPATH` structure — it won't reverse-lookup your other (real) path.

[2016-02-16 01:18] jrsanz1 commented on #259
I'm able to replicate this on Windows 10 64-bit

[code]
[code]

glide.exe is located in $GOROOT and $GOPATH contains the expected 'src' directory

[2016-02-16 02:19] chancez commented on #256
Yah having text and json would be awesome. Json could have lots of
metadata, one json object per line (event stream basically) and it could
easily be consumed by lots of tools.
On Mon, Feb 15, 2016 at 8:01 AM Matt Farina <notifications@github.com>
wrote:

[2016-02-16 07:23] xuqingfeng opened #261 "go build & go install error"
[code]

PS.
`export GO15VENDOREXPERIMENT=1`is added to .zshrc
go version go1.5.3 darwin/amd64
glide version 0.8.2

[2016-02-16 12:11] dmitris commented on #211
I would think that (3) is more in line with how the go tools usually work (GOPATH-based).  I think it would be great to be able to specify the package as the target (such as github.com/foo/bar and make glide to translate it internally into the $GOPATH/src/github.com/foo/bar directory.  If there is no target provided by the user, I would default to the current package as in the output of `go list`.

[2016-02-16 12:21] dmitris commented on #211
I would disagree that GOPATH-based target is a big problem - I used `go install <package>` and `go test <package>` so many times, it is especially useful for build scripts and building/CI infrastructure.  I guess I got used to Go's symlink aversion as a feature long time ago - maybe it indeed simplifies some things.

A big benefit of (3) is that is PWD-independent - as long as you specify the GOPA

[2016-02-16 13:50] dmitris commented on #166
I think I jumped up too soon...  It may be partially fixed but still not working correctly.  I updated my minimal case to demonstrate: [github.com/dmitris/deptest4glide](github.com/dmitris/deptest4glide). This package imports github.com/dmitris/deptesthuge/deptestsmall which is a dependency-free subpackage of github.com/dmitris/deptesthuge where the root package has massive dependencies (coreos, d

[2016-02-16 15:44] mattfarina commented on #259
@jrsanz1 I'm unable to replicate this under Windows. Can you provide some more detail?

Is you codebase somewhere in the `GOPATH\src` and you're operating on it from there rather than a symlink? I ask because I've seen what you describe when the codebase is outside the `GOPATH`.

[2016-02-16 16:50] mhoglan commented on #261
you should try with the latest `glide` from source

this sounds like an issue with a nested vendor scenario and you could probably resolve it by removing the nested vendor directory in the dependency and flattening out the dependencies at the top level.   Such as adding `Sirupsen/logrus` and `codegangsta/cli`to your `glide.yaml` so they are top level dependencies.

[2016-02-16 17:29] mattfarina commented on #164
@dmitris what version of Glide are you using? The behavior is [documented on RTD](http://glide.readthedocs.org/en/latest/glide.yaml/).

[2016-02-16 17:34] mattfarina commented on #39
@mhoglan I'd like a glide native way to do this that's easily sharable and works across systems.

There are lots of environments where it's not allowed or wise to much with the `/etc/hosts` file. Mucking with that feels like a bit of a hack.

A Git specific mechanism doesn't work for SVN, Bzr, or Mercurial. All three of those are supported by Go and Glide.

I'd like to have something elegant that

[2016-02-16 17:45] mhoglan commented on #39
Agree, I was just mentioning those as ways that people do it today, just in case there are some insights that can be gained by looking at those work arounds and the use cases they are used for.   And to help make sure a solution alleviates having to use those work arounds.

I do think getting to where you can have a site style file which can span projects for specifying mappings is beneficial for

[2016-02-16 20:14] jrsanz1 commented on #259
Ok I have discovered why this is happening. Just to clarify my codebase is under GOPATH so all of that is normal. I've been using Visual Studio Code for development, and in has this option to right click on the working folder and select 'Open in command prompt' from there I've been executing my go commands and the 'glide create' which yields the invalid yaml file. If I start up the command prompt

[2016-02-17 16:05] mattfarina commented on #259
@jrsanz1 Thanks for sharing. I had no idea that could happen. It's useful for me to know this for anyone else who comes along with the same problem.

[2016-02-17 20:57] mhoglan opened #264 "Caching should be disabled when flag is not present"
Currently it looks like caching is disabled if you do not pass in the `--cache` flag, but really it is just erroring out because the directory does not exist and skips the caching step.

This is because the `cacheEnabled` var in repo/cache.go is always set to true and is never changed to false based on the `Installer.UseCache` value.

I explicitly set it to false in the code and rebuilt to see the

[2016-02-17 21:09] mhoglan commented on #247
I added a quick instrumentation of a timer from https://github.com/rcrowley/go-metrics to the `VcsUpdate` call to see which update was taking so long.  Using that library you could have `glide` output the metrics registry when finished.   I was just outputting the timer information on a defer call to see it in the debug logs.

Now that there is concurrency going on with the VcsUpdate, context info

[2016-02-17 23:08] technosophos commented on #247
That sounds like a good idea. I'll look into that library.

Out of curiosity, did you find out anything interesting? Most of my admittedly basic tests have shown that the vast majority of time is spent in exec waiting for git to do the clone or update.

[2016-02-18 00:02] LK4D4 opened #267 "Glide ignoring windows dependencies"
I tried to run glide over docker/docker project and found that Windows dependencies weren't vendored.
I don't know how glide tracks dependencies for OS different from host OS, but seems like only way to collect all dependencies is `UseAllFiles` field in `build.Context`.
Also I tried to use os and arch fields for top package - it doesn't work :/

[2016-02-18 01:58] colemickens opened #268 "Include version information even in builds from source"
Hi!

Small feature request. I updated today to get the new 0.9.0 goodness. To be fair, I'm not being very dilligent and am simply running `go get -u github.com/Masterminds/glide`, but it would be nice if `glide --version` would output something other than `glide version dev`.

For example, if my checkout is on git commit `XYZ` and the last released version is `0.9.0`, then maybe it says `glide ver

[2016-02-18 02:01] mattfarina commented on #267
@LK4D4 Thanks for the issue.

First, @technosophos and I were recently chatting about the OS dependency issue. Glide works the same the go tool does. For example, to pickup linux dependencies on darwin you'd do:

[code]

This isn't ideal. In the next release (likely 0.10) I'd like to make this situation better. I'll look at using `UseAllFiles`. Given our typical pace I would expect this out in the

[2016-02-18 02:09] LK4D4 commented on #267
@mattfarina Yup, I'll post my experiments little later.

[2016-02-18 02:26] mattfarina commented on #268
This would be useful. Not yet sure of the best to handle this so I'm open to suggestions.

[2016-02-18 14:06] mhoglan commented on #247
I didn't run before and after timings of skipping the branch detection for caching in #268 but it did feel faster as I watched the debug logs.

The main thing I found out on my workspace was that the aws-go-sdk and thrift repos take ~4-6x longer to download than the other repositories.   Majority of the time in a `glide install` seemed to be in the `VcsUpdate` step.

Had me thinking if there is an

[2016-02-18 16:58] mhoglan commented on #268
Here is a repo I put together with a pared down example of how I do this in our projects.

https://github.com/mhoglan/golang_version_injection

The end result is your golang binary will be able to output something like this:

[code]

Which tells me everything I need to know about the workspace it was generated from.  It also supports injecting runtime based values with ENV var injection which we u

[2016-02-18 17:34] mattfarina commented on #267
@LK4D4 Two things:

1. In the not to distant future we'll do a release likely using `UseAllFiles` to bring back better dependency walking. It's a small change and the current situation is a bug that comes up most often in docker work. Thanks for pointing this out.
2. The `os` and `arch` properties are on each import. So an import can only be used in certain environments. It's not for the entire fi

[2016-02-18 18:01] LK4D4 commented on #267
@mattfarina Ok, thanks. Actually just os, arch args for glide create would work for us, but `UseAllFiles` will be just awesome.

[2016-02-19 01:48] DavidJFelix opened #271 "GOPATH in 1.6 seems to expect ./src"
I'm using docker's `golang:1.6` image and the latest release of glide.

When I use glide install, a vendor directory is created that looks like:

[code]

If I set my GOPATH to that vendor directory, I see `go build` attempting to search `vendor/src/github.com...` rather than `vendor/github.com...`

I'm doing the same thing that I did previously using `GO15VENDOREXPERIMENT=1` in go 1.5, but it's no

[2016-02-19 15:17] mattfarina commented on #271
@DavidJFelix is your root project properly in the `GOPATH`? You need to have something like `GOPATH/src/path/to/root/project/vendor/github.com...`. The `go` toolchain expects the root project to be in the `GOPATH` and specifically looks for the `src` directory.

[2016-02-19 15:29] #267 closed

[2016-02-19 15:29] mattfarina commented on #267
This fix will go out in version 0.9.1 early next week. Thanks again.

[2016-02-19 16:01] DavidJFelix commented on #271
I've been using glide per the [usage section](https://github.com/Masterminds/glide#usage) since go 1.5 successfully.

[Here is exactly what I'm doing. You can repeat the results with docker](https://github.com/hatchery/evolution-master/blob/master/Dockerfile)

It's not clear what I'm doing wrong, since it used to work in 1.5

[2016-02-19 16:20] itscaro commented on #271
Should it be like this? GOPATH must not be vendor directory

`RUN glide install
RUN GOPATH=/opt/evolution-master go build`

[2016-02-19 16:21] DavidJFelix commented on #271
I've tried that too. Nothing but moving vendor into vendor/src helps.

[2016-02-19 16:44] itscaro opened #272 "Update failed for appengine/cloudsql: Cannot detect VCS"
I'm stuggling with go 1.6 and glide 0.9

I got this error when getting go-sql-driver/mysql

Any ideas?

[2016-02-19 16:54] itscaro commented on #271
- rename gosrc => src
- GOPATH <relativepath_to_evolution-master/src>
- in src, run glide install

But I recommend you set up like this:

GOPATH = /a/dir/

the checkout your repo to /a/dir/src/github.com/hatchery/evolution
in the checked-out directory, you put all contents of your current gosrc dir.

[2016-02-19 16:56] mattfarina commented on #271
@DavidJFelix thanks for sharing your Dockerfile. I see what's going on.

The `GOPATH` cannot be a `vendor/` directory. This is hard coded into Go. You need something like...

[code]
The `GOPATH` here is `/go`. The `GOPATH` is required to have a directory inside named `src` where your source lives. The `vendor/` directory is inside your source. This is non-negotiable for the `go` tool.

If somethin

[2016-02-19 17:14] DavidJFelix commented on #271
@mattfarina that seems to work, thanks!

[2016-02-19 17:14] #271 closed

[2016-02-19 19:32] akutz commented on #272
HA! I'm literally trying to solve the *same* issue! https://travis-ci.org/emccode/rexray/builds/110459662

[2016-02-19 19:48] bwiggs commented on #272
Same here:

[code]

[2016-02-19 19:51] akutz commented on #272
FWIW, not Go 1.6 issue as happened on 1.5.1 on Travis as well. I bumped to 1.6 to see if that helped. Same error. See previous builds in my linked build's history for same error with 1.5.1.

[2016-02-19 19:53] akutz commented on #272
Here's a build with 1.5.1 with same error. https://travis-ci.org/emccode/rexray/builds/110452312

[2016-02-19 20:01] mattfarina commented on #272
@itscaro @bwiggs are you pulling the tip of master or using the released version?

@akutz I see your case. It's pulling the tip of master. I think you're seeing a problem because of #267. If you build in appengine there are some special appengine packages available. The change in #267 allows glide to scan all possible dependencies, irregardless of build mode, so it can get the full picture. Unfort

[2016-02-19 20:02] akutz commented on #272
Hi @mattfarina,

FWIW, here's the bit from the Makefile that handles Glide. In a branch I update REX-Ray to use Gomk for builds, which I've designed to enable selecting the version of Glide I want to use. Currently it's using the tip of master.

[code]

[2016-02-19 20:04] akutz commented on #272
Hi @mattfarina,

Ah, thanks for the response. Yes, I had to [do something similar in Gomk](https://github.com/akutz/gomk/blob/master/.gomk/include/tools/source/govet.mk) for `go vet` as that tool did not function correctly when using an OS/ARCH separate from the host.

[2016-02-19 20:06] akutz commented on #272
FWIW, I think option number two makes the most sense.

[2016-02-19 20:08] mattfarina commented on #272
@akutz I'm thinking of handling both options. Appengine is an annoying special case and the flag would be useful.

[2016-02-19 20:11] akutz commented on #272
Why is Appengine so annoying? Just curious. Because it's on Github but has import path from Google?

[2016-02-19 20:18] mattfarina commented on #272
The appengine import is `appengine` and not a remote location. It's a special case build mode for appengine where the SDK (import of `appengine`) is available in the same way standard library packages are. It's a special case where two Google products (appengine and Go) are colluding in a non-standard way.

[2016-02-19 20:20] akutz commented on #272
Ruxin from the League agrees :)

![image](https://cloud.githubusercontent.com/assets/101085/13187928/f0544a58-d713-11e5-9e59-87a688d2fa6b.png)

[2016-02-19 20:39] mattfarina commented on #272
This should now be fixed. If not please re-open the issue.

[2016-02-19 20:58] LK4D4 opened #273 "Glide fails on two packages in same dir"
Not sure if I should post issues against a master, but there is a pretty bad bug, which was brought by `UseAllFiles`. I encountered it as well when tried to write vendoring tool.
Error is next:
[code]
It's pretty obvious what's going on here, and it can happen in any dependency too. A possible way to avoid this is to catch that specific error and parse all files and collect all tags by hands excep

[2016-02-19 21:18] akutz commented on #272
Hi @mattfarina,

So it failed on Travis again. https://travis-ci.org/emccode/rexray/builds/110459662

However, it worked locally when I updated Glide. I am resending my commit to Travis instead of just rerunning the build in case Travis had cached the Glide sources. I don't tell it to, but I don't know another explanation.

[2016-02-19 21:20] bwiggs commented on #273
We're having a similar issue:

[code]

[2016-02-19 21:23] akutz commented on #272
Nope, still failing - https://travis-ci.org/emccode/rexray/builds/110483778. I just nuked my local vendor dir and am trying a full `glide up` again locally to see if the reason it worked locally earlier was from caching.

[2016-02-19 21:27] akutz commented on #272
Hi @mattfarina,

It's failing locally. The reason it worked was because I had not actually upgraded Glide to 0.9 locally. I neglected the `-u` flag in `go get`. I just used it to upgrade to the tip of master, and it's failing locally as well.

[code]

[2016-02-19 21:32] akutz commented on #272
I'm an idiot. Didn't realize just added the flag. Thought you were also handling appengine as a special case. The flag works :)

[2016-02-19 22:06] mattfarina commented on #273
@LK4D4 please feel free to post issues against master. I'll take a look at this in a bit.

[2016-02-19 22:15] mattfarina commented on #273
If you use the `--resolve-current` flag on update it will disable `UseAllFiles`. Hopefully this can unblock anyone until I get a better look at it.

[2016-02-19 22:50] mattfarina commented on #272
I seem to have missed an app engine specific package.

[2016-02-19 23:35] #272 closed

[2016-02-19 23:36] mattfarina commented on #272
@akutz this "should" now be fixed and I tested against rexray.

[2016-02-19 23:39] mattfarina commented on #273
To add a little more detail... since you can't have two packages with different packages loaded in the same directory this is because build flags are skipped. In both examples here the differing package had a build flag to simply ignore.

[2016-02-20 00:30] technosophos commented on #273
If we do a custom build context, we'll probably have to whitelist instead of blacklist. I'll try to look into that this weekend.

Thanks for the quick catch @LK4D4 and @bwiggs

[2016-02-20 00:57] soul9 commented on #273
couldn't this be a warning instead of an error, since go happily builds these packages.

[2016-02-20 02:43] tamird commented on #172
@mattfarina by the way, the readme says that glide installs dependencies with `go install`, but that doesn't seem to be the case - at least not for subpackages. If `glide install` would `go install` each subpackage, that would adequately resolve this issue for me.

[2016-02-20 02:50] james-lawrence commented on #259
going to investigate my env a little bit more. sorry, will get back to you this weekend.

[2016-02-21 13:55] advanderveer opened #274 "only get dependencies of given subpackage not working"
According to the release notes, since 0.9 only dependencies of specified subpackages should be retrieved recursively, to reproduce:

[code]
instead of  downloading the dependencies of the dag package it will download all dependencies of terraform. Is the because of Godeps being used? Any way to overwrite the behaviour?

[2016-02-21 17:31] technosophos commented on #274
Yeah, I just reproduced this. My `glide.lock` shows this for terraform:

[code]

But `dag` doesn't seem to import any other subpackages. So something is wrong there.

The Godeps file is only supposed to be used for pinning versions, but I wonder if there's a lingering bug there.

[2016-02-21 17:34] technosophos commented on #268
Does ` go get` not run the Makefile's `build` target? For some reason I thought Go had some baked-in logic for using Makefiles if they were present (instead of just running `go build`).

[2016-02-21 17:36] technosophos commented on #261
If @mhoglan's suggestion doesn't fix the problem,  it would be helpful to be able to see the `import()` line that is causing those errors.

[2016-02-21 20:00] mattfarina commented on #268
Go doesn't do anything special for Make that I can find. There are 3 phases outlined in [`runGet`](https://github.com/golang/go/blob/bc8458ab02878ae64af860f1cade78b6fa97e994/src/cmd/go/get.go#L85). The docs note that [the build tool can only build Go source files and they did not do anything with Makefiles](https://github.com/golang/go/blob/f78a4c84ac8ed44aaf331989aa32e40081fd8f13/doc/articles/go_

[2016-02-21 21:56] james-lawrence commented on #259
seems like something was funky with my environment as well when I ran into this, it is no longer an issue for me. sorry I couldn't provide more details on the exact start that caused it.

[2016-02-22 01:42] xuqingfeng commented on #261
@technosophos @mhoglan

`glide.yaml`

[code]

`main.go`

[code]

PS.

`GOPATH`: /Users/xuqingfeng/Godir

`export GO15VENDOREXPERIMENT=1` is removed

Also note that I update golang to 1.6 and glide to 0.9.0, but still can't make it work.

[2016-02-22 02:55] technosophos commented on #261
Your import paths don't need to include the vendor prefix. As the error
suggests, you should just import github.com/Sirupsen/logger.

On Sun, Feb 21, 2016, 6:42 PM jsxqf <notifications@github.com> wrote:

[2016-02-22 03:09] xuqingfeng commented on #261
@technosophos

Which means I also need to `go get github.com/Sirupsen/logger` while using glide?

(I want `Sirupsen/logger` only exists in vendor folder not `$GOPATH/src/github.com` folder)

[2016-02-22 03:37] technosophos commented on #273
What if we set `build.Context.BuildFlags` manually to include the known architectures and operating systems? Essentially, I think we could build a "whitelist" that way.

[2016-02-22 04:18] technosophos commented on #274
I think I found the problem:

[code]

It looks like we automatically import the package at the base of the repo:

[code]

In the case of terraform, the base package imports tons of stuff.

In pre-0.9, it makes sense for us to have done that. But now, it doesn't. The problem is that the current glide.yaml file doesn't indicate whether or not I need to import the base package. I'll have to chat with

[2016-02-22 09:17] dmitris commented on #274
the problem sounds similar to https://github.com/Masterminds/glide/issues/166#issuecomment-184689515 and https://github.com/Masterminds/glide/pull/270 ("overzealous" pulling of dependencies from the base packages) - maybe it would be possible to make sure that the same resolution mechanism is used for both for consistency (if it's not the case already)?

[2016-02-22 11:28] nlamirault opened #275 "Vendor code not in remote repository"
Hi,
i try to migrate my project from *gb* to *glide*. On localhost, everything works as it should. But if i clone my project, vendor directory doesn't contains any code :

[code]

According to commit message [1], i can see glide use SubProjects system.
But if i try to update submodules i've got an error :

[code]

How can i solve this problem ?
is it possible not to use Glide subprojects system bu

[2016-02-22 12:00] mattfarina commented on #273
@technosophos Build flags can be both positive (included) and have the `!` to be excluded. If something on that white list is a `!` in the file won't that file be excluded?

[2016-02-22 13:12] mattfarina commented on #261
@xuqingfeng you shouldn't reference packages in the `vendor/` folder directly. For example, instead of importing `"bitbucket.org/jsxqf/hpack-cli/vendor/github.com/Sirupsen/logrus"` import `"github.com/Sirupsen/logrus"`. Go will add `vendor/` folders to the resolution locations.

[2016-02-22 14:20] mattfarina commented on #275
@nlamirault what version of Go are you using, what version of Glide are you using (`glide --version`), and how did you get glide?

[2016-02-22 14:32] nlamirault commented on #275
i'm using go 1.6 and a fresh glide dev :

[code]

[2016-02-22 14:44] mhoglan commented on #268
I did originally look to find some native `go` way to do these kind of things.  The `go generate` that came about in 1.4 was the closest to having any ability for hooking into the `go` tools.

Ended up choosing `Makefile` because its pretty universal across distribution types and environments without introducing a ton of dependencies on the systems (mainly the dev systems).  Wasn't my ideal choice

[2016-02-22 14:56] technosophos commented on #273
Yeah, you're right.

On Mon, Feb 22, 2016, 5:00 AM Matt Farina <notifications@github.com> wrote:

[2016-02-22 15:39] technosophos commented on #268
Just for some background, we've used the linker injection method for quite a while:

https://github.com/Masterminds/glide/blob/master/Makefile#L5

It works really well as long as you build with `make`, and not `go get`. The problem with `go get` is that there is just no convenient way to have it inject the information at build time.

We _could_ generate  a version.go file at tagging time (e.g. `go

[2016-02-22 15:42] technosophos commented on #275
This does not look like the place Go would expect to find source: `/tmp/TMP/abraracourcix`

There's also this: `[INFO] Not found in vendor/: github.com/nlamirault/abraracourcix/api (1)`

What's your $GOPATH and where is the source code located?

[2016-02-22 15:44] technosophos commented on #274
Yeah, it does sound like that issue.

What if we only pull the base package if the subpackage `.` (or `./`) is in the list? Example:

[code]

[2016-02-22 15:48] hasmichaelh commented on #268
I don't think you want to have to keep a file in the source like a `version.go` that has to be bumped each time.  It will constantly be out of alignment as things occur.  Especially on branches and development work.   Relying on just the tagging annotation and the git workspace information like commits ahead, branch etc... is good.

Also a build is more than just the `git` information, it is also

[2016-02-22 15:53] nlamirault commented on #275
I update the test :

[code]

[2016-02-22 15:55] technosophos commented on #274
^^ @dmitris actually, looking at your earlier pull request, adding support for `.` would be a tiny change, right? You already cover the case where a package is specified, but no subpackages are.

So if I'm thinking about this correctly, what we want is to support two distinct cases. I think they go like this:

I don't want the base package:
[code]

I _do_ want the base package:

[code]

[2016-02-22 15:58] itscaro opened #276 "Error with golang.org/x/text"
I got these errors with golang.org/x/text:

[ERROR] Error scanning golang.org\x\text: found packages text (doc.go) and main (gen.go) in ...\vendor\golang.org\x\text
[ERROR] Error scanning golang.org\x\text\language: found packages language (common.go) and main (gen_common.go) in ...\vendor\golang.org\x\text\language
[ERROR] Error scanning golang.org\x\text\unicode\norm: found packages norm (compos

[2016-02-22 16:58] mattfarina commented on #273
FYI, I'm working on a fix. hope to have something up for review in the next day.

[2016-02-22 16:59] mattfarina commented on #276
This is a duplicate of #276. Working on a fix today.

[2016-02-22 16:59] #276 closed

[2016-02-22 17:00] dmitris commented on #274
I find the subpackage `.` both confusing and unnecessary.  It also seems unclear what you mean as 'I do want the base package' - you want the code of the base package? but normally you already have it due to the source code grouping by the repos, at least in the typical  github.com/user/repo case.  Or do you mean 'I want all the dependencies of the base package` - the question is then why if they

[2016-02-22 18:22] dmitris commented on #275
I could not replicate with the latest version from master - ran the command and got a lockfile as below.  With master version, I'm getting `Project relies on 12 dependencies`, and with the #270 fix - 11 (golang.org/x/sys is not being pulled).

[code]

[2016-02-22 20:14] stevvooe commented on #112
@mattfarina Shouldn't glide be removing the `.git` portion of the dependency? This behavior is fairly surprising. Otherwise, we'd need to have an extra step to remove these files, making glide less useful. We want to vendor the dependencies.

An option can be added for those who wish to experience the pain of submodules.

[2016-02-22 22:15] sym3tri commented on #112
For what it's worth, I tried out glide and found it to be a really awesome tool. Great work so far!

However this is the single issue that's blocking me and my company from using it in all of our projects. Removing the .git stuff is all that should be needed for us. Seems like a trivial change, and we'd be happy to help with the change if the maintainers are ok with this direction.

[2016-02-23 00:38] mattfarina commented on #273
Can you please test the fix in the [pull request](https://github.com/Masterminds/glide/pull/277). Any feedback would be appreciated.

[2016-02-23 02:17] mattfarina commented on #274
I think [this](https://github.com/Masterminds/glide/pull/278) fixes it.

[2016-02-23 02:40] mattfarina commented on #264
@mhoglan Aside from the PR #265 is there anything else here?

[2016-02-23 04:13] technosophos opened #279 "Glide fails on Go 1.7"
Go 1.7 removes GO15VENDOREXPERIMENT. So the current head of the Go dev tree is failing due to this commit: https://github.com/golang/go/commit/3e23442518d9c66def2ae48f83026e29c5f26609

[2016-02-23 05:53] davidzhao commented on #244
I'm having the same issue here with a private git repo. How does glide fetch private/internal repos?

[2016-02-23 10:13] itscaro commented on #276
What is the ticket I need to follow? You quoted the same ticket here.

Thanks.

[2016-02-23 11:44] brasilikum opened #282 "Error 128 on glide install"
I did the following on machine a
[code]

when I cloned the repo on machine b and tried glide install, i got error 128
[code]

I searched through some issues and got the hint about the empty project directories.
[code]

when I removed everything in vendor/, `glide install` worked as expected.

What do you recommend for handling this?
Should git ignore /* vendor?
Should I add the vendor packages as

[2016-02-23 13:57] #279 closed

[2016-02-23 13:58] #274 closed

[2016-02-23 17:00] mhoglan commented on #264
What about the setting of the variable in the `cache.go` to the value that was determined by the command line?  Then you would get the proper error returned that the cache is disabled, where right now you get the error that the directory does not exist.

[2016-02-23 18:48] mattfarina commented on #268
The problem with Makefiles is Windows. Go and Glide support windows.

[2016-02-23 20:10] mattfarina commented on #282
What version of Glide are you using (`glide --version`)? What version of Go and what operating system are you on?

Is the project you're working on public?i If so, I'm happy to take a look at it.

There should be two state. If you see another one, please let me know.

1. You ignore the `vendor/` folder. In that case Glide will create and populate it.
2. Your packages being vendored (stored in your

[2016-02-23 20:11] mattfarina commented on #259
This was fixed in #278.

[2016-02-23 20:11] #259 closed

[2016-02-23 20:54] dmitris commented on #166
I think we should close this unless anyone else sees any further problems.

[2016-02-24 02:22] #273 closed

[2016-02-24 02:47] mattfarina opened #283 "Docker errors"
From @LK4D4 in #277...

[code]
And so, there is no packages:
[code]
They imported from github.com/docker/docker/distribution and github.com/docker/docker/reference. I don't see any tags or something tricky there, so it's better to look yourself.

[2016-02-24 02:58] mattfarina commented on #283
@LK4D4 I'll start with the first one.

`github.com/docker/notary` has a `Godeps.json` file that sets the version of `github.com/docker/distribution` to `fed58bd2d3c096055c0e69c2fb86c9a4965d1b8b`. This version doesn't contain `github.com/docker/distribution/manifest/manifestlist`. Something in the codebase is trying to import `github.com/docker/distribution/manifest/manifestlist`. Hence the error.

[2016-02-24 03:53] technosophos opened #284 ""An Error has occured""
Fix the spelling

[2016-02-24 04:00] LK4D4 commented on #283
@mattfarina thanks! I'll take a look tomorrow

[2016-02-24 04:02] technosophos commented on #275
@nlamirault  I just managed to reproduce this, and I think I see the problem.

- Normally with Glide, you don't check the `vendor/` directory in, because doing so either confuses Git or removes the revision information that Glide uses (depending on how you do the commit).
- You should check in your `glide.lock` file. This makes `glide install` builds reproducible, and also speeds things up.

If I

[2016-02-24 04:05] mattfarina commented on #284
Fixed in e2c79cf6ec45fd07031b71756c5a671a63faa0b0

[2016-02-24 04:05] #284 closed

[2016-02-24 04:06] technosophos opened #285 "Misleading error when doing a `glide install` or `glide get` on a committed vendor dir"
This issue surfaced as part of #275.

Something is wonky about the error messages reported on packages in `vendor/` that are checked into VCS. I think we should be able to better detect this case and emit a clearer error message.

[code]

[2016-02-24 07:03] elan100cs commented on #244
Hey i am having the same issues. I suggest that if it is already specified within the glide.yaml as an import package, then it shouldn't try to update it subpackages.

I imagine to implement this, requires a key value pair which stores packages that's already been updated during the 'glide update' and do a check whether a package which about to be updated is a subpackage of that.

[2016-02-24 07:04] xuqingfeng commented on #261
Thanks Guys!

[2016-02-24 07:04] #261 closed

[2016-02-24 09:06] nlamirault commented on #275
Hi,
i clone the repository into $GOPATH, delete `vendor` directory and do a `glide install` and it works fine.
Another question : it is possible to push golang dependencies code into remote repository (like [1]).
My remote repository doesn't contains code [2], but beats project seems to push  dependencies code [3].
How to do this ?

[1] : https://github.com/elastic/beats
[2] : https://github.com/n

[2016-02-24 10:23] brasilikum commented on #282
Unfortunately, the project is not public.
It is worth noting that the vendored projectfolders appear to be git submodules.
If I run `git submodule status` i get `No submodule mapping found in .gitmodules for path 'vendor/github.com/Sirupsen/logrus'` and there is no .gitmodules file.

I use glide 0.9.0 on OSX El Capitan.

I prefer solution 2 as I like the idea of reproducible builds.

[2016-02-24 12:41] hyPiRion commented on #253
@atombender: I hit the exact same problem as you did. After I figured out that the issue was symlinking, I found out that reversing the symlink works (put the actual dir on your `GOPATH`, then symlink from `~/Projects`). Presumably as the absolute path would now be placed on the `GOPATH`, and as such it works.

So in your case that would be

[code]

It's not optimal if you want to perform backups

[2016-02-24 15:11] mattfarina commented on #275
Can you please take a look at the pull request on #286

[2016-02-24 15:11] mattfarina commented on #285
Can you please look at the pull request on #286

[2016-02-24 16:19] #275 closed

[2016-02-24 16:19] mattfarina commented on #285
Fixed in #286.

[2016-02-24 16:19] #285 closed

[2016-02-24 16:28] technosophos commented on #49
I'm thinking this would be a good plugin.

[2016-02-24 16:29] technosophos commented on #50
I believe this is fixed completely in Glide >= 0.9.0

[2016-02-24 16:36] nlamirault commented on #275
Thanks it works fine. But concerning code dependencies ?
it is possible to push golang dependencies code into remote repository (like [1]).
My remote repository doesn't contains code [2], but beats project seems to push dependencies code [3].
How to do this ?

[1] : https://github.com/elastic/beats
[2] : https://github.com/nlamirault/abraracourcix/tree/master/vendor/github.com/garyburd
[3] : https

[2016-02-24 16:45] LK4D4 commented on #283
@mattfarina Cool, thanks. Your tool is first which is able to do docker vendoring.

[2016-02-24 16:55] mattfarina commented on #112
@stevvooe and @sym3tri A few things...

1. You can't just remove the `.git` directories. Go and Glide support SVN, hg, and Bzr as well. Any tool that removes VCS directories should support all four.
2.  If the VCS directory isn't present Glide detects that and can update the code.
3. That means the missing element is something to strip the VCS directories in the first place. I'm not sure if that s

[2016-02-24 17:00] mattfarina commented on #166
@dmitris way to catch this. A fix went out in 0.9.1.

[2016-02-24 17:00] #166 closed

[2016-02-24 18:55] stevvooe commented on #112
@mattfarina I understand the issue here. `glide` opts not to remove source control directories, since other `glide` users may not check dependencies into source control.

To clarify, our requirements for a dependency management system are somewhat like the following:

1. The project should work with `go get` and should adopt all the implications that come with this.
2. Dependencies should be check

[2016-02-25 04:36] colemickens opened #287 "glide get github.com/Azure/go-autorest/autorest fails"
Steps:
* Removed `glide.lock`.
* Removed `vendor/`.
* Execute `glide get github.com/Azure/go-autorest/autorest`

Expected, it works.

Actual, it fails:

[code]

I don't know where `glide` came up with this import path in the ERROR line. It's simply wrong: `github.com/Azure/go-autorest/azure`. (Note it's missing the `autorest` segment between `go-autorest` and `azure`.)

It seems to have gotten con

[2016-02-25 04:37] colemickens commented on #287
Also, when I execute that, the yaml it inserts is this:

[code]

which also seems wrong. `go-autorest` is not a package, just a repo.

[2016-02-25 04:38] colemickens commented on #287
But correcting it to:
[code]

doesn't help either. (And I need the azure subpackage as well).

[2016-02-25 04:42] colemickens commented on #287
False alarm. I had the wrong import path in my code (which is where glide got it).

Error message is a bit confusing though. Something could hint me towards checking my source rather than a glide file.

(In fact, I don't even expect glide to be scanning my code at this point... why is it? Why is this error coupled to the `glide up` process even though it successfully pulled down the repo and wrote

[2016-02-25 11:03] nickveenhof commented on #274
This issue drastically  improved the speed of glide for us. Huge huge thanks for this.

[2016-02-25 11:04] advanderveer commented on #274
Yea, it awesome! Thanks

[2016-02-25 14:14] mattfarina commented on #287
@colemickens I'm glad this was a false alarm. We're really open to better error messages as well. I'll have to think about it here.

Once you hit `Resolving imports` Glide is scanning code. This happens in two possible ways:

1. Glide reads the imports from a package to know about other imports to look at. The `go/build` package is used to do this. That package reads the code up through the `impor

[2016-02-25 17:31] smousa opened #289 "pushing the vendor directory to github"
I would like to push all of my dependencies into my git repo in order to prevent the issue of `glide up` not being able to find a particular project (or commit).  However, because glide uses `git clone` to download the dependencies, it also downloads the .git directory which prevents me from pushing my dependencies into my git repo.  Instead, I have to run a separate command to remove all of the .

[2016-02-25 17:45] LK4D4 commented on #289
I think it's a dupe of #112. However, I believe that it's an excellent feature to have - cleaning packages from .git, tests, testdata, binaries and unused subpackages. I will use glide for Docker venoring if it supports "vendor-stripping". Godep, docker hack/vendor.sh and my toy-vendor-tool https://github.com/LK4D4/vndr can do that for reference, but they lack other important features which presen

[2016-02-25 19:42] technosophos commented on #289
I've pointed this out a few times: This feature constitutes modification of source code, which means many licenses (and most notably, LGPL and its variants) automatically come into play in new and interesting ways. I don't feel like it's right for Glide to computationally make licensing decisions on behalf of users.

That said, the Glide plugin system should make it really easy for someone to impl

[2016-02-25 19:48] mattfarina commented on #289
Automating things safely is hard. I have to agree with @technosophos on the license issue. Glide is used by organizations that care about legal issues and we don't want to create automation that may cause an issue.

We're open to ideas on how to handle that well. I'm willing to have discussions.

The Glide plugin system would allow someone to create a Glide command that strips elements from a proj

[2016-02-25 20:29] technosophos commented on #289
IANAL. The speculation on the street is that removing a `.git` repo does NOT constitute a license breach because it is not part of the source distribution, but is an object generated locally. Any change to something that is checked into the repository, in contrast, constitutes a source change.

[2016-02-25 21:46] neilpa opened #290 "`glide update` vendors current repo if it contains subpackages"
Trying to setup `glide` for first time on an application target that contains subpackages. The problem I'm running into is that it vendors the current repo subpackages since they're imported from the main package. That means `go build` uses the vendor directory rather than the primary source which may contain local edits.

It's a private repo but the glide project has the same setup and repros the

[2016-02-25 21:51] neilpa commented on #290
Similarly `glide init` generates a yaml file where the main package depends on itself. Using this project as an example if I nuke the existing `glide.yaml` and regenerate it

[code]

[2016-02-25 22:03] blackgold opened #291 "issue with concurrent update"
1. glide install sporadically fails with following trace

cd src/voyager && /src/build/glide install;
[0;33m[WARN] [mUnable to locate home directory
[0;32m[INFO] [mFetching updates for github.com/armon/consul-api.
[0;32m[INFO] [mFetching updates for github.com/BurntSushi/toml.
[0;32m[INFO] [mFetching updates for github.com/bluele/gcache.
[0;32m[INFO] [mFetching updates for github.com/cor

[2016-02-26 00:50] mattfarina commented on #289
Here is an idea.

_Disclaimer: this is an idea, I'm not a lawyer, check with a proper legal expert, this may be worth experimenting with. This is playing with fire so mind the licenses._

A plugin could be built that:

* Looks at all the projects in the vendor folder
* Removes the VCS directory. Go supports Git, Svn, Bzr, and Hg. So, it's worth making sure you handle all cases.
* Inspect the licen

[2016-02-26 00:53] mattfarina commented on #290
What version of Glide are you using (`glide --version`), how did you install Glide (homebrew, `go get`, a binary), and what OS/version are you running?

Glide has logic that detects when an import package is the same as the one it's in. We need to understand why that's not happening.

[2016-02-26 01:08] neilpa commented on #290
I'm using version 0.9.1 installed via homebrew on OSX 10.11.3

[2016-02-26 01:15] neilpa commented on #290
Just tried via `go get` and see the same issue.

[2016-02-26 01:30] dnephin commented on #112
I don't understand why this is an issue.

Can't you just `find vendor/ -type f -not -path "*/.git*" | xargs git add` ?

That way git won't add submodules. I believe the `.git` directories are even "gitignored" by default.

[2016-02-26 01:40] sdboyer commented on #112
@dnephin

because:

1. windows
2. bzr
3. hg
4. svn

FWIW, i've switched my position on this - vendor should always be committable, and SCM metadata shouldn't be left around. it's just not trivial to do.

[2016-02-26 01:44] sdboyer commented on #268
Hopefully we can end up shoehorning this one in via manifest...over time :)

[2016-02-26 01:45] dnephin commented on #112
So I guess I can expand that `find` to exclude directories for bzr, hg, and svn, but windows I don't know about.  Is there no equivalent to `find` on windows?

[2016-02-26 01:48] LK4D4 commented on #112
@dnephin nooooo, no more bash pls :)

[2016-02-26 01:58] sdboyer commented on #112
what @LK4D4 said. But also:

[code]

Now there's a 4x4 matrix.

[2016-02-26 02:02] dnephin commented on #112
@sdboyer I don't think that's true. The target SCM is always consistent for any given user, so the second `git` is fine, assuming this is just something that you you add yourself as a script to the repo.

I guess it would be nice to have this as a plugin, or a go binary, but it feels like it's not absolutely necessary that it's part of glide core, because it's pretty easy to implement externally.

[2016-02-26 02:12] sdboyer commented on #112
@dnephin that's a fair point. i'm kinda just swooping in dickishly right now, anyway. sorry :)

really, i'm doing so because, while working on [my writeup](https://medium.com/@sdboyer/so-you-want-to-write-a-package-manager-4ae9c17d9527), my view has shifted to where I don't believe that any user choice or interaction is necessary here, at all. it just muddies the water. both the commit-deps and do

[2016-02-26 02:26] jrick commented on #112
If you need that find functionality on Windows it's easily added in powershell:

[code]

Might be a better way to write that (I'm still a bit inexperienced in PS) but it beats relying on a compatible unix find being installed.

[2016-02-26 02:53] stevvooe commented on #112
Anything that requires bash or powershell fails requirement 3 above:

While a little bit of `find` is okay for a personal project, but having to instruct others to do it correctly, in varying platforms, is a problem. It is extremely interruptive to the contribution process, open source or not. We already have issues trying to help contributors to use `godep`. If we switch to something else, we'd n

[2016-02-26 03:11] sdboyer commented on #112
@stevvooe thanks! i really do think glide has the potential to be best-in-class. It's exciting :) we'll certainly be public about whatever our plans are.

[2016-02-26 14:27] mattfarina commented on #289
I have two additional thoughts that may be useful:

1. I wrote up a post titled ["Why Glide Doesn't Strip Unused Packages"](http://engineeredweb.com/blog/2016/go-why-not-strip-unused-pkgs/). I find that forcing myself to write something for others helps me to clarify the thoughts. This explains the reason for the way we do things.
2. From a `glide.lock` file you have everything you need to know wh

[2016-02-26 16:26] itscaro opened #292 "GetRepo() error"
I got this error with 0.9 and 0.9.1

[WARN] Unable to checkout github.com/itsjamie/gin-cors
[ERROR] Update failed for github.com/itsjamie/gin-cors: fatal: could not create work tree dir 'C:\workspace\git\go\src\app\vendor\github.com\itsjamie\gin-cors
': No such file or directory
: exit status 128

If in GetRepo() in glide/cfg/config.go, before calling newXXXRepo(), I create all the path (dest), it

[2016-02-26 18:08] mattfarina commented on #292
Thanks for the level of detail. Are you using Cygwin, PowerShell, cmd.exe, or something else?

[2016-02-26 18:14] smousa commented on #289
The reason why I am asking about it is because I have run into an issue where a dependency was no longer available, and it was breaking `glide up` (migrating from GoDeps).

[2016-02-26 18:17] blackgold commented on #291
Today I am seeing the same error on a different repo.

[DEBUG] Attempting to find current branch for https://github.com/kr/pretty
[DEBUG] Unable to find current branch for https://github.com/kr/pretty, error: chdir /src/src/voyager/vendor/github.com/kr/pretty: no such file or directory
[0;33m[WARN] [mUnable to checkout github.com/kr/pretty
[0;33m[WARN] [mUpdate failed for github.com/kr/pretty:

[2016-02-26 18:25] mattfarina commented on #291
@blackgold A fews things:

1. If you use the `--no-color` (e.g., `glide --no-color install`) it will remove the characters around WARN, etc. This may make your output easier to read.
2. What version of Glide are you using (`glide --version`) and how did you get it (binary, homebrew, `go get`, etc)?
3. Before running `glide install` what's at the location `/src/src/voyager/vendor/github.com/gorilla

[2016-02-26 18:34] blackgold commented on #291
@mattfarina
I am using glide version 0.8.3. I am downloading the tar from http://github.com/Masterminds/glide/releases/download/0.8.3/glide-0.8.3-linux-amd64.tar.gz and using the binary
/src/src/voyager/vendor directory does not exist before running glide install

[2016-02-26 20:54] daniel-garcia commented on #289
@technosophos @mattfarina  removing the VCS directories is equivalent performing an 'svn export', 'git export' and does not constitute modifications of software. The act of checking in source in the vendor directory is carried out by the end user and not by glide. Furthermore, glide does not check any license checking to see if it is compatible with the current project. License compliance is the r

[2016-02-26 21:11] mattfarina commented on #289
@daniel-garcia I understand the difference between stripping the VCS data and stripping unused code (a modification). I'm in the process of ferreting out what's ok and not ok to do. My goal is utility that's also safe for users.

Don't consider this a dead issue. Behind the scenes I'm attempting to figure out what's ok to do.

[2016-02-26 21:13] LK4D4 commented on #289
@daniel-garcia that's a good point, indeed.

[2016-02-28 09:58] colemickens opened #294 "glide up could handle changing aliased repos better"
If you have a package aliased and change the repo the alias points to, git complains. It could check to see if the are unstaged/uncommited changes, and if not, add the new remote and switch quietly.

[code]

[2016-02-29 09:57] itscaro commented on #292
PowerShell

[code]

CMD: same issue

Cygwin: same issue

[2016-02-29 13:44] itscaro commented on #292
On windows, I think there is an issue with this configuration: (Other packages are well installed)

[code]

[code]

[2016-02-29 16:17] itscaro commented on #290
Env: go 1.6 windows/amd64 - glide 0.9.1

I have no problem with **Masterminds/glide**

**glide install**
`
PS C:\Users\itsca_000\workspace\git\go\src\github.com\Masterminds\glide> glide i
[INFO] Downloading dependencies. Please wait...
[INFO] Fetching updates for github.com/Masterminds/semver.
[INFO] Fetching updates for github.com/Masterminds/vcs.
[INFO] Fetching updates for gopkg.in/yaml.v2.
[IN

[2016-02-29 17:17] itscaro commented on #244
@mattfarina

Is it possible to append to vcsList (util.go) something like this?

[code]

This regex is based on my case: (same naming as github.com/user/repo)

[code]

[2016-02-29 21:49] colemickens commented on #184
:+1: :+1: I'm vendoring kubernetes once again for the client. Build times are much longer now but Glide is handling the vendoring like a champ. Thanks again for Glide.

[2016-03-01 03:30] ruiyang2015 opened #295 "glide tree command show exception"
here is the stack trace

panic: runtime error: invalid memory address or nil pointer dereference
[signal 0xb code=0x1 addr=0x20 pc=0xde453]

goroutine 1 [running]:
panic(0x506a20, 0xc82000e0e0)
	/usr/local/Cellar/go/1.6/libexec/src/runtime/panic.go:464 +0x3e6
github.com/Masterminds/glide/dependency.srcDir(0x0, 0x0, 0xc8202dddd0)
	/Users/myuser/Ascend.io/godep/src/github.com/Masterminds/glide/depen

[2016-03-01 08:10] nlamirault opened #296 "Code dependencies"
it is possible to push golang dependencies code into remote repository (like [1]).
My remote repository doesn't contains code [2], but beats project seems to push dependencies code [3].
How to do this ? Thanks

[1] : https://github.com/elastic/beats
[2] : https://github.com/nlamirault/abraracourcix/tree/master/vendor/github.com/garyburd
[3] : https://github.com/elastic/beats/tree/master/vendor/git

[2016-03-01 08:24] kumarharsh opened #297 "Glide Update is Unusable on Windows"
I have a project with this structure:

[code]

Whenever I do `glide update`, glide tries, for some baffling reason, to go into my node_modules folder right down to the absolute bottom of each node_module, and then dies because of running into the `MAX_PATH` problem in windows, and throws this error:

And hence, it never installs any new package - basically it's pointless having it.

[2016-03-01 09:14] itscaro commented on #296
Why would you like to push dependency codes into your projet? The idea with a dependency manager is that you just need a configuration file and when you checkout your project you ask the dependency manager to get all dependencies at the version you defined in your configuration file.

[2016-03-01 10:05] nlamirault commented on #296
To be safe the recovered code (broken repository, deleted repository, ....). Beats seems to used glide and add dependencies code too.

[2016-03-01 13:35] mattfarina commented on #297
I can explain what's happening.

Glide, like the `go` tools, scans the file system to figure out the dependencies. This was a feature request some time ago and it's an expectation because tools like `go get` do it as well.

This issue may be due to the Windows path length issues that come up in node.js with the deep nesting. Is that a problem? What version of npm are you using?

[2016-03-01 19:00] albrow opened #298 "Glide fails to detect VCS even though explicitly specified in glide.yaml"
We have some private repositories on GitHub Enterprise. I have a glide.yaml which contains the following:

[code]

When I run `glide install`, it starts getting all the other packages and then exists with following error message:

[code]

There is also a warning further up:

[code]

Since I have specified the VCS and repository to use, I would expect Glide to work here. Perhaps I'm misunderstandin

[2016-03-01 20:40] atombender commented on #252
I'd like this, too.

It's annoying to find that `glide up <some packagename>` runs without complaining about the superfluous argument, but actually updates everything. What is the argument list used for?

[2016-03-01 20:42] atombender commented on #290
Don't know if this applies to you, but this will happen if your project is not located in `$GOROOT` according to the Go maintainer's specifications. I discovered this when I [tried using symlinks](https://github.com/Masterminds/glide/issues/253).

[2016-03-01 21:23] sbxalex commented on #290
@atombender Thanks, that's helpful. The problem indeed goes away when I enter my `$GOPATH` directly, instead of being in a different path on the filesystem that is symlinked under `$GOPATH`. It looks like these two issues might be closely related.

[2016-03-01 21:24] atombender commented on #290
If you're using symlinks, then it's the same issue.

[2016-03-01 21:54] neilpa commented on #290
In my case I'm not using symlinks and everything is under `$GOPATH`, `~/code/go` in my case above.

[2016-03-02 13:07] mattfarina commented on #289
I'm formulating a plan that may be workable for these use cases. More to come but first...

The functionality in Glide is starting to get large and we like the unix idea of different applications working together. Some pieces of functionality can have multiple purposes. With that in mind...

I've created a utility that strips VCS directories from a tree. It's called [rmvcsdir](https://github.com/M

[2016-03-02 13:12] mattfarina commented on #294
I've gone back and forth on this. Should this be silent or automatic? Should it be an error to catch the users attention? I don't know if I like just doing it because this is the kind of change a user should be aware of.

I wonder if this is something we should put behind the `--force` flag.

[2016-03-02 14:10] mattfarina commented on #298
I think I have an idea what's going on. Glide follows the same package name syntax that the `go` tool does. If a package can't also be fetched with `go get` it will have trouble in Glide.

GitHub, Bitbucket, Launchpad, and a few others have special cases built into the toolchains. Once you move outside those you need to use package names like `github.plaid.com/plaid/go-plogger-client.git` and `git

[2016-03-02 14:12] mattfarina commented on #295
What version of Glide are you using, how did you get it (download a binary, `go get`, something else), what OS are you on, and what is your `GOPATH`?

[2016-03-02 14:17] mattfarina commented on #297
Glide walks the complete tree to be able to fetch all the dependencies. Glide creates reproducible packages and versions. Go projects can have go files in nested subdirectories to it needs to scan for them.

Glide can ignore some packages now. We likely need to add the ability to ignore some directories. That would solve your issue.

[2016-03-02 14:29] mattfarina commented on #292
I think this is an issue where the parent directory needs to exist before the Git repo can be cloned into it on Windows.

[2016-03-02 14:36] ruiyang2015 commented on #295
I use go get to install the glide, OS is OSX 10.11.3.
GOPATH is empty, I am using go 1.6, with a vendor directory at the project root.

[2016-03-02 15:22] mattfarina commented on #289
Correction... the last shell snippet should have been...

[code]

This will tell Glide to update the vendored dependencies and any new ones that are fetched in resolution will have their VCS directories stripped.

[2016-03-02 15:24] mattfarina commented on #290
@neilpa This is a tough one. I can't remember seeing this. Can you share the results of `go env`. How did you install Go?

[2016-03-02 18:26] neilpa commented on #290
I installed go via homebrew.

[code]

I can help debug this further if you point me toward potential offending code since I can repro this against `glide` master.

[2016-03-03 04:22] colemickens commented on #294
I guess in retrospect it's pretty obvious what the message is telling me. Not sure if it's worth the code to special case changing the repository.

I'm actually going to close this after reconsidering. Feel free to reopen it if you want to do something about it, but I think it's probably fine as-is.

[2016-03-03 04:22] #294 closed

[2016-03-03 09:30] kumarharsh commented on #297
Thanks. I understand that that's how go works, but if we are "absolutely" sure that no go file can be in some directories, it might be useful to save that trouble (and time) on every `glide update`

[2016-03-03 11:33] itscaro commented on #292
I would be happy to work on a PR.

[2016-03-03 13:52] smousa commented on #289
Another question, and this might be a little off topic, but if the glide.yaml file allows you to specify certain subpackages within a repo, why does it still pull the whole repo?  (I am running 0.9.0, so I don't know if this has been fixed on the master branch)